/* font */
@font-face {
    font-family: "North";
    src: url(../fonts/North_Carossela.woff);
}

@font-face {
    font-family: "Miracle";
    src: url(../fonts/Miracle_Personal_use.woff);
}

@font-face {
    font-family: "Champagne";
    src: url(../fonts/Champagne-_-Limousines.woff);
}

@font-face {
    font-family: "Butterflies";
    src: url(../fonts/Butterflies.woff);
}

@font-face {
    font-family: "BRANCHE";
    src: url(../fonts/BRANCHE-Demo.woff);
}

@font-face {
    font-family: "BRANCHEOL";
    src: url(../fonts/BRANCHE-Outline-DEMO.woff);
}

@font-face {
    font-family: "Signatria";
    src: url(../fonts/Signatria.woff)
}

@font-face {
    font-family: "Painted";
    src: url(../fonts/Painted.woff)
}

@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* body */
body {
    height: 100vh;
    overflow: hidden;
}

body.active {
    height: initial;
    overflow: visible;
}

/*로딩*/
.progress {
    position: fixed;
    right: 0;
    top: 0%;
    z-index: 10000;
    width: 100%;
    height: 100vh;
    background: #c4c4c4;
}

.progress .progress-text {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 8vw;
    color: #000;
    font-family: "BRANCHE";
}



/* scroll */
.scroll {
    position: fixed;
    left: 30px;
    bottom: 30px;
    width: 50px;
    height: 50px;
    padding: 0 10px 0 10px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    z-index: 100000;
    font-family: "BRANCHE";
    font-size: 30px;
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
    -moz-text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
    -webkit-text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
}



/* scrollbar */

::-webkit-scrollbar {
    width: 10px
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background-color: #000000;
}

::-webkit-scrollbar-button {
    background-color: #000000;
}

::-webkit-scrollbar-corner {
    background-color: #c4c4c4;
}

/* header */
#header .menu {
    position: fixed;
    width: 130px;
    height: 55px;
    background: #000;
    left: 1.5vw;
    top: -330px;
    z-index: 10000;
    font-family: "BRANCHE";
    cursor: pointer;
}

#header .menu.active {
    width: 100vw;
    height: 50vh;
}

#header .menu h1 {
    font-size: 30px;
    color: #fff;
    background: #000;
    display: inline-block;
    padding: 4px 20px 4px 20px;
    border-radius: 3px;
}

/* layout */
#contents {
    overflow: hidden;
}

#contents>section {
    position: relative;
}

#section1 {
    height: 100vh;
    background: #c4c4c4;
    z-index: 6000;
}

#section2 {
    background: #000000;
    z-index: 5000;
}

#section3 {
    height: 16500px;
    background: #c4c4c4;
    z-index: 4000;
}

#section4 {
    height: 32000px;
    background: #9A1C0E;
    z-index: 5000;
}

#section5 {
    height: 5500px;
    background: #000;
    z-index: 5500;
}

#section6 {
    height: 15490px;
    background: #000;
    z-index: 6000;
}

#section7 {
    background: #000;
    height: 200vh;
    z-index: 6500;
}

#section8 {
    height: 120vh;
    background: #000;
    z-index: 7000;
}

#section9 {
    height: 100vh;
    background: #000;
    z-index: 8000;
}

/* container */
.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

/* sec1 */
.sec1 h2 {
    font-family: "Miracle";
    font-size: 19vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -80%);
    white-space: nowrap;
    z-index: 6200;
}

.sec1 h2 span {
    position: relative;
    display: inline-block;
    opacity: 0;
    transform: translateY(150px) translateX(100px) rotate(50deg);
    color: #fade01;
}

.sec1 h3 {
    display: none;
}

.sec1 .hit {
    font-size: 30px;
    position: absolute;
    right: 12vw;
    top: 30vw;
    color: #565656;
    font-family: "North";
    letter-spacing: 1px;
}

.sec1 .hit span {
    display: inline-block;
    transform: translateY(100px);
    opacity: 0;
    min-width: 1.3vw;
}

.sec1 .line01 {
    width: 0;
    height: .1vw;
    background: #fade01;
    position: absolute;
    left: 0%;
    top: 35%;
}

.sec1 .face {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -30%) scale(0);
    width: 27vw;
    height: 27vw;
    z-index: 900;
    background: url("../img/main-face.jpg") center top / cover;
    border-radius: 50%;
}

.sec1 .face img {
    width: 100%;
    filter: grayscale(100%) contrast(40%);
}



/* sec2 */
.sec2 {
    color: #fff;
    text-align: center;
    padding: 300px 0 200px 0;
}
.sec2 h3 {
    display: none;
}

.sec2 .sec2tit {
    position: relative;
}

.sec2 h2 {
    position: relative;
    color: #fff;
    font-family: "Miracle";
    font-size: 15vw;
    line-height: 1;
    font-weight: normal;
    margin-bottom: 20%;
    z-index: 5700;
}

.sec2 h2 span {
    position: relative;
    display: inline-block;
    font-size: 15vw;
    opacity: 0;
    transform: translateY(150px) translateX(100px) rotate(50deg);
    color: #fade01;
}

.sec2 .line02 {
    width: 10%;
    height: 0.2vw;
    background: #fade01;
    position: absolute;
    right: 0%;
    bottom: 25%;
}

.sec2 .hit {
    font-size: 1.5vw;
    position: absolute;
    left: 17vw;
    bottom: -2vw;
    color: #808080;
    font-family: "North";
    letter-spacing: 1px;
}

.sec2 .hit span {
    display: inline-block;
    transform: translateY(100px);
    opacity: 0;
    min-width: 13px;
}



.sec2 h2 strong {
    font-weight: normal;
    display: block;
}

.sec2 .txt-wrap {
    position: relative;
    font-family: "North";

}

.sec2 .txt-wrap p {
    font-size: 4.4vw;
    line-height: 0.55;
    margin-bottom: 3vw;
    padding-top: 1vw;
}

.sec2 .txt-wrap .kor {
    font-size: 1vw;
    font-family: 'Cafe24SsurroundAir';
    padding: 10vw;
    line-height: 1.8;
}

.sec2 .txt-wrap .kor em {
    opacity: 0;
}

/* sec2 script css */

.sec2 .txt-wrap span {
    display: inline-block;
    font-size: 4.4vw;
    line-height: 0.25;
    min-width: 1.2vw;
    position: relative;
    font-family: "North";
    color: #ffffff;
    opacity: 0.2;
}

/* .sec2 .txt-wrap span.active {
    color: #ffffff !important;
} */

/* //sec2 script css */


.sec2 .face {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    width: 22vw;
    height: 22vw;
    z-index: -1;
    background: url("../img/main-face.jpg") center top / cover;
    border-radius: 50%;
    filter: grayscale(100%) contrast(80%) brightness(25%);
}


.sec2 .sign {
    font-family: "Signatria";
}

.sec2 .sign span {
    font-family: "Signatria";
    font-size: 5vw !important;
    color: #fff;
    min-width: 1.3vw;
    opacity: 0;
}

/* sec3 */
.sec3 {
    height: 100vh;
}

.sec3 h2 {
    font-family: "BRANCHE";
    font-size: 0vw;
    line-height: 1;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.sec3 h2 .top {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0px;
    background: #c4c4c4;
}

.sec3 h2 .bom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0px;
    background: #c4c4c4;
}

.sec3 .text-box {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
}

.sec3 .mobile-title {
    display: none;
}

.sec3 .text-box>div {
    white-space: nowrap;
    height: 33vh;
    font-size: 33vh;
    line-height: 1;
    font-family: "BRANCHE";
}

.sec3 .text-box .if-box {
    width: 60vw;
    height: 60vh;
    background: #000;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.sec3 .text-box .if-box iframe {
    width: 100%;
    height: 100%;
}

.sec3 .text-box>div em {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px #000;
}


@keyframes angelDown {
    0% {
        background: #c4c4c4;
    }

    100% {
        background: #9A1C0E;
    }
}

@keyframes angelDown2 {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes angelUp {
    0% {
        background: #9A1C0E;
    }

    100% {
        background: #c4c4c4;
    }
}

@keyframes angelUp2 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* sec4 */
.sec4 .red {
    background: #9A1C0E;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 500vh;
    overflow: hidden;
}

.sec4 .red .red-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 500vh;
    text-align: center;
    transform: translate(-50%, -50%);
}

.sec4 .red .red-txt h2 {
    font-size: 15vw;
    padding-top: 15%;
    color: #ffffff;
    line-height: 2;
    animation: look 3s infinite;
}

.sec4 .red .red-txt h2:nth-child(1) {
    padding-top: 11%;
    top: 10%;
}

.sec4 .red .red-txt h2:nth-child(2) {
    top: 30%;
}

.sec4 .red .red-txt h2:nth-child(3) {
    top: 50%;
}

.sec4 .red .red-txt h2:nth-child(4) {
    top: 70%;
}

.sec4 .red .red-txt h2:nth-child(5) {
    top: 90%;
}

@keyframes look {
    0% {
        font-family: "North";
    }

    12.5% {
        font-family: "Signatria";
    }

    25% {
        font-family: "BRANCHEOL";
    }

    50% {
        font-family: "Champagne";
    }

    75% {
        font-family: "BRANCHE";
    }

    100% {
        font-family: "Miracle";
    }
}

.sec4 .red .red_img {
    position: absolute;
    overflow: hidden;
    text-align: center;
    transform: translate(-50%, -50%);
}

.sec4 .red .red_img01 {
    top: 20%;
    left: 50%;
}

.sec4 .red .red_img02 {
    top: -2%;
    left: 50%;
}

.sec4 .red .red_img03 {
    top: 40%;
    left: 70%;
}

.sec4 .red .red_img04 {
    top: 18%;
    left: 10%;
}

.sec4 .red .red_img05 {
    top: 28%;
    left: 80%;
}

.sec4 .red .red_img06 {
    top: 70%;
    left: 60%;
}

.sec4 .red .red_img07 {
    top: 48%;
    left: 40%;
}

.sec4 .red .red_img08 {
    top: 58%;
    left: 90%;
}

.sec4 .red img {}


.sec4 .cube__wrap {
    --size: 10vw;
    position: fixed;
    bottom: 50%;
    left: 0%;
    perspective: 40vw;
    width: 0;
    height: 0;
}

.sec4 .cube__wrap .cube {
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateZ(45deg) rotateY(-45deg);
    animation: cube 2s infinite;
    animation-play-state: paused;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.sec4 .cube__wrap .cube .cube_Section {
    position: absolute;
    width: var(--size);
    height: var(--size);
    background-color: #eee;
    backface-visibility: visible;
    top: calc(var(--size) * -.5);
    left: calc(var(--size) * -.5);
}

.sec4 .cube__wrap .cube .cube_top {
    background: #CB4545;
    transform: rotateX(90deg) translateZ(calc(var(--size) * .5));
}

.sec4 .cube__wrap .cube .cube_bottom {
    background: #271C1C;
    transform: rotateX(90deg) translateZ(calc(var(--size) * -.5));
}

.sec4 .cube__wrap .cube .cube_front {
    background: #D04747;
    transform: translateZ(calc(var(--size) * .5));
}

.sec4 .cube__wrap .cube .cube_back {
    background: #701919;
    transform: translateZ(calc(var(--size) * -.5));
}

.sec4 .cube__wrap .cube .cube_left {
    background: #762121;
    transform: rotateY(90deg) translateZ(calc(var(--size) * .5));
}

.sec4 .cube__wrap .cube .cube_right {
    background: #391E1E;
    transform: rotateY(90deg) translateZ(calc(var(--size) * -.5));
}





.sec4 .angel {
    position: fixed;
    background: #8b1508;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    overflow: hidden;
    cursor: none;
}

.sec4 #container {
    width: 100px;
    height: 100vh;
}

.sec4 .angel .angel_img {
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%) scale(0.9);
}

.sec4 .angel .boy_img {
    position: absolute;
    top: 65%;
    left: 60%;
    transform: translate(-50%, -50%) scale(0.9);
}

.sec4 .angel h2::selection,
.sec4 .angel p::selection {
    background: transparent;
    color: red;
}

.sec4 .angel .cursor__angel {
    position: absolute;
    width: 1vw;
    height: 1vw;
    background: #000000;
    border-radius: 50%;
}

.sec4 .angel .cursor__angel .circle-wave {
    position: absolute;
    top: 0%;
    right: 0%;
    transform: translate(50%, 50%);
    width: 0;
    height: 0;
    border: 1px solid #000000;
    opacity: 0;
    border-radius: 50%;
    animation: circle-wave 3s infinite ease-in;
}

.sec4 .angel .cursor__angel .cw1 {
    animation-delay: 1s;
}

.sec4 .angel .cursor__angel .cw2 {
    animation-delay: 2s;

}

.sec4 .angel .cursor__angel .cw3 {
    animation-delay: 3s;
}

@keyframes circle-wave {
    0% {
        width: 0;
        height: 0;
        top: 50%;
        right: 50%;
        opacity: 0;
    }

    25% {
        opacity: 50%;
    }

    100% {
        top: -1000%;
        right: 50%;
        width: 10vw;
        height: 10vw;
        opacity: 0;
    }
}


.sec4 .angel h2 {
    position: absolute;
    top: -9%;
    left: 0%;
    font-family: "North";
    font-weight: normal;
    width: 100%;
    font-size: 13vw;
    color: #000;
}

.sec4 .angel p {
    position: absolute;
    width: 100%;
    font-family: "North";
    font-size: 5vw;
    color: #000;
}

.sec4 .angel .angel1 {

    top: 50%;
    left: 88.5%;
    transform: translate(-50%, -50%);
    text-align: left;
}

.sec4 .angel .angel2 {
    bottom: 10%;
    left: 5%;
}

.sec4 .angel .angel-box {
    position: absolute;
    overflow: hidden;
    width: 100%;
    bottom: 0;
    left: 0;
}

.sec4 .angel .angel-box .angel3 {
    position: relative;
    width: 120vw;
    animation: DeadHeart 18s ease-in infinite;
}

@keyframes DeadHeart {
    0% {
        left: 120%
    }

    100% {
        left: -110%
    }
}

.sec4 .animation {
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}

.sec4 .animation .ani__title {
    position: fixed;
    font-family: "BRANCHE";
    text-align: center;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    line-height: 100vh;
}

.sec4 .animation .ani__title h2 {
    font-size: 18vw;
    color: #ffffff;
}

.sec4 .animation .ani__title::after {
    content: 'Complication';
    position: absolute;
    top: 50%;
    right: 43.5%;
    transform: translate(-50%, -50%) rotate(90deg);
    color: #000;
    font-size: 1.5vw;
}


.sec4 .animation .ani-text {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    line-height: 100vh;
    white-space: nowrap;
    z-index: 5490;
    cursor: none;
}

.sec4 .animation .ani-text h2 {
    font-size: 10vw;
    color: #000;
}

.sec4 .animation .ani-text h2 em {
    font-family: "BRANCHE";
    font-size: 10vw;
    color: #000;
    background: transparent;
    cursor: none;
}

.sec4 .animation .ani-text em:hover {
    color: #ffffff;
}

.sec4 .angel .cursor-follower {
    position: absolute;
    width: 10vw;
    height: 10vw;
    border: 0;
    opacity: 0;
    transition: .5s all ease-in-out;
}

.sec4 .angel .cursor-follower.active {
    width: 25vw;
    height: 20vw;
    opacity: 0.8;
    z-index: 5499;
}

.sec4 .angel .cursor-follower iframe {
    width: 100%;
    height: 100%;
}

.sec4 .angel .angel_heart {
    width: 2vw;
    height: 2vw;
    position: absolute;
    top: 47%;
    left: 60%;
    transform: translate(-50%, -50%);
    background: #000;
    border-radius: 50%;
    z-index: 5499;
}

/* sec5 */

.sec5 {
    height: inherit;
    padding-top: 50vw;
}

.sec5 .library {
    width: 22vw;
    height: 33vw;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sec5 .library img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.sec5 .library canvas {
    width: 100%;
    height: 100%;
}

.sec5 .sec5_text_01_1 {
    font-family: "Miracle";
    color: #fff;
    font-size: 3vw;
    position: absolute;
    top: 48%;
    left: 30%;
    transform: translate(-50%, -50%);
    user-select: none;
    animation: look 10s infinite;
    z-index: 5999;
}

.sec5 .sec5_text_01_2 {
    font-family: "Miracle";
    color: #fff;
    font-size: 3vw;
    position: absolute;
    top: 49.5%;
    left: 30%;
    transform: translate(-50%, -50%);
    user-select: none;
    animation: look 10s infinite;
    z-index: 5999;
}

.sec5 .sec5_text_01_3 {
    font-family: "Miracle";
    color: #fff;
    font-size: 3vw;
    position: absolute;
    top: 51%;
    left: 30%;
    transform: translate(-50%, -50%);
    user-select: none;
    animation: look 10s infinite;
    z-index: 5999;
}

.sec5 .sec5_text_01_2 em {
    color: #f48fb1;
    font-family: "Painted";
    animation: none;
    font-size: 4vw;
}

.sec5 .sec5_text_02_1 {
    font-family: "Miracle";
    color: #fff;
    font-size: 3vw;
    position: absolute;
    top: 48%;
    left: 75%;
    transform: translate(-50%, -50%);
    user-select: none;
    text-align: left;
    animation: look 8s infinite;
    z-index: 5999;
}

.sec5 .sec5_text_02_2 {
    font-family: "Miracle";
    color: #fff;
    font-size: 3vw;
    position: absolute;
    top: 49.5%;
    left: 75%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    user-select: none;
    animation: look 8s infinite;
    z-index: 5999;
}

.sec5 .sec5_text_02_3 {
    font-family: "Miracle";
    color: #fff;
    font-size: 3vw;
    position: absolute;
    top: 51%;
    left: 75%;
    transform: translate(-50%, -50%);
    user-select: none;
    animation: look 8s infinite;
    z-index: 5999;
}

.sec5 .sec5_text_02_1 em {
    color: #fade01;
    font-family: "Painted";
    animation: none;
    font-size: 4vw;
}

.sec5 span {
    min-width: 1.3vw;
    display: inline-block;
    transform-origin: bottom;
}

.sec5 .sec5_text_01_2 span:nth-child(1),
.sec5 .sec5_text_01_2 span:nth-child(2),
.sec5 .sec5_text_01_2 span:nth-child(3),
.sec5 .sec5_text_01_2 span:nth-child(4),
.sec5 .sec5_text_01_2 span:nth-child(5),
.sec5 .sec5_text_01_2 span:nth-child(6),
.sec5 .sec5_text_01_2 span:nth-child(7) {
    color: #f48fb1;
    font-family: "Painted";
    font-size: 4vw;
}

.sec5 .sec5_text_02_1 span:nth-child(3),
.sec5 .sec5_text_02_1 span:nth-child(4),
.sec5 .sec5_text_02_1 span:nth-child(5),
.sec5 .sec5_text_02_1 span:nth-child(6),
.sec5 .sec5_text_02_1 span:nth-child(7),
.sec5 .sec5_text_02_1 span:nth-child(8),
.sec5 .sec5_text_02_1 span:nth-child(9),
.sec5 .sec5_text_02_1 span:nth-child(10) {
    color: #fade01;
    font-family: "Painted";
    font-size: 4vw;
}

.sec5 p {
    font-family: "Painted";
    color: #fff;
    font-size: 4vw;
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}

/* sec6 */

.sec6 {
    padding-top: 300px;
    height: inherit;
}
.sec6 .hover2 {
    transition: .5s ;
}
.sec6 .hover2:hover {
    transform: rotate(0deg);
    z-index: 6100;
}
.sec6 .hover2 span {
    position: relative;
    z-index: 6200;
    font-size: 18px;
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.sec6 .web__back {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    filter: blur(5px) grayscale(100%) contrast(100%);
    opacity: 0.5;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    transition: 2s all;
}

.sec6 .sorce {
    position: fixed;
    font-family: "North";
    top: 3%;
    right: 3%;
    display: inline-block;
}

.sec6 .sorce a {
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    color: #000;
    padding: 25px 20px;
    border-radius: 10%;
    font-size: 1vw;
}

/* .sec6 .viewcursor {
    position: absolute;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: #000;
    line-height: 50px;
    text-align: center;
    font-size: 0vw;
    color: #fff;
    user-select: none;
    pointer-events: none;
    opacity: 0;
    z-index: 5999;
} */


.sec6 .web_cont {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.sec6 .web_cont .web_cont_text p {
    position: fixed;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-family: "BRANCHE";
    font-size: 9vw;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    -webkit-text-stroke-color: #fff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-repeat: no-repeat;
    transition: background-size 1s cubic-bezier(0.67, 0.01, 0.15, 0.98);
    background-image: linear-gradient(180deg, #fff 0%, #fff 50%, transparent 50.1%);
    background-position: 100% 0%;
    background-size: 100% 0%;
}

.sec6 .web_cont .web_cont_text:hover p {
    background-size: 100% 200%;
}


.sec6 .web_site_box {
    position: fixed;
    width: 100%;
    height: 60vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.sec6 .web_site_box .site_img {
    position: absolute;
    width: 50vw;
    height: 60vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

/* .sec6 .web_site_box .site_img canvas {
    position: absolute;
    width: 100% !important;
    height: 80% !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: grayscale(100%) contrast(100%);
} */

.sec6 .web_site_box .site_img a img {
    position: absolute;
    width: 65vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: grayscale(100%) contrast(100%);
}

/* .sec6 .web_site_box03 .site_img img {
    position: absolute;
    width: 65vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    filter: grayscale(100%) contrast(100%);
} */


.sec6 .web_site_box04 .site_img img {
    top: 43%;
}

.sec6 .web_site_box .site_img:hover a img {
    filter: none;
}

.sec6 .web_mobile {
    display: none;
}

/* sec7 */
.sec7 {
    height: 200vh;
}




/* sec8 */

.sec8 {
    height: 100vh;
}

.sec8 .contact_before {}

.sec8 .contact_before p {
    color: #ffffff;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.sec8 .contact_before .cb_p1 {
    margin-top: 5.2vw;
    color: #fff;
    font-family: "Cafe24SsurroundAir";
    font-size: 2vw;
    opacity: 0;
}

.sec8 .contact_before .cb_p2 {
    margin-top: 5vw;
    font-family: "north";
    color: #fff;
    opacity: 0.5;
    font-size: 4vw;
    opacity: 0;
}

.sec8 .contact_before h3 {
    position: absolute;
    font-family: "Miracle";
    color: #fff;
    font-size: 16vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    opacity: 1;
    z-index: 7499;
}

.sec8 .line03 {
    width: 100%;
    height: 3vw;
    background: #fade01;
    position: absolute;
    left: 0%;
    top: 50%;
}



/* sec9 */
.sec9 .contact {
    padding-top: 25%;
    display: flex;
    margin: 0 auto;
    width: 90%;
    font-family: "miracle";
    height: 50vh;
    color: #fff;
    font-size: 2vw;
}

.sec9 .contact h3 {
    font-size: 6vw;
    color: #fff;
}

.sec9 .contact .contact_left {
    color: #999;
    flex: 1 1 50%;
}

.sec9 .contact .contact_left p {
    opacity: 0;
}

.sec9 .contact .contact_left h3 {
    font-size: 4vw;
    opacity: 0;
}

.sec9 .contact .contact_right {
    color: #999;
    flex: 1 1 50%;
}

.sec9 .contact .contact_right p {
    opacity: 0;
}

.sec9 .contact .contact_right h3 {
    font-size: 4vw;
    opacity: 0;
}

.sec9 .contact .contact_right img {
    opacity: 0;
}

/* .sec7 .web_site_tit {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    line-height: 100vh;
    color: #000000;
}

.sec7 .web_site_tit h2 {
    padding-top: 2vw;
    text-align: center;
    font-size: 20vw;
    font-family: "BRANCHE";
    color: #000000;
} */


/* ex */
#section4-2 {
    display: none;
}

/* media */

@media (max-width: 767px) {

    .progress .progress-text {
        font-size: 20vw;
    }

    .menu {
        width: 0 !important;
        height: 0 !important;
        background: none !important;
    }

    .menu h1 {
        font-size: 14px !important;
        padding: 4px 10px 4px 10px !important;
    }


    #section1 {
        height: 100vh
    }

    .sec1 .hit {
        font-size: 8px;
    }


    .sec1 .line01 {
        top: 45.5%
    }

    .sec1 .hit {
        top: 53%
    }
    .sec1 h3 {
        display: block;
        font-family: 'Cafe24SsurroundAir';
        font-size: 12px;
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        color: #000;
    }

    /* sec2 */
    .sec2 {
        padding: 100px 0 50px 0;
    }

    .sec2 .txt-wrap .kor {
        font-size: 2.8vw;
    }


    /* sec3 */
    #section3 {
        height: 4500px;
    }

    .sec3 {}

    .sec3 .text-box {
        position: static;
    }

    .sec3 .text-box>div:nth-child(2) {
        display: none;
    }

    .sec3 em,
    .sec3 strong {
        display: none;
    }
    .sec3 .text-box>div {
        font-size: 0;
        height: 28vh;
    }
    .sec3 .mobile-title {
        display: block;
        padding: 100px 0 0 0;
        text-align: center;
    }

    .sec3 .mobile-title em,
    .sec3 .mobile-title strong {
        display: inline-block;
        font-size: 100px;
    }

    .sec3 .if-box {
        opacity: 0;
        margin-top: -200px !important;
        position: static !important;
        margin: 0 auto;
        height: 550px !important;
        margin-bottom: 300px;
    }
    /* .sec4 */
    #section4 {
        display: none;
    }
    #section4-2 {
        background: #9A1C0E;
        display: block;
        height: 3500px;
    }
    .sec4-2 .mobile_ani_title {
        position: relative;
    }
    .sec4-2 h2 {
        position: relative;
        z-index: 5001;
        font-family: "BRANCHE";
        padding-top: 100px;
        padding-bottom: 50px;
        font-size: 100px;
        text-align: center;
        color: #fff;
    }
    .sec4-2 .mobile-ani-box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 50px;
        opacity: 0;
    }
    .sec4-2 .mobile-ani-box iframe {
        width: 90%;
        height: 350px;
    }
    .sec4-2 .mobile-ani-box p {
        font-size: 30px;
        margin-top: 15px;
        color: #fff;
        font-family: "North";
    }
    
    /* mobile cube */
    .sec4-2 .cube__wrap {
        --size: 15vw;
        position: absolute;
        top: 53%;
        left: 50%;
        transform: translateX(-50%);
        perspective: 40vw;
        width: 0;
        height: 0;
        z-index: 5000;
    }
    
    .sec4-2 .cube__wrap .cube {
        transform-style: preserve-3d;
        transform: rotateX(0deg) rotateZ(45deg) rotateY(-45deg);
        animation: cube 2s infinite;
        animation-play-state: paused;
        animation-iteration-count: 1;
        animation-fill-mode: both;
    }
    
    .sec4-2 .cube__wrap .cube .cube_Section {
        position: absolute;
        width: var(--size);
        height: var(--size);
        background-color: #eee;
        backface-visibility: visible;
        top: calc(var(--size) * -.5);
        left: calc(var(--size) * -.5);
    }
    
    .sec4-2 .cube__wrap .cube .cube_top {
        background: #CB4545;
        transform: rotateX(90deg) translateZ(calc(var(--size) * .5));
    }
    
    .sec4-2 .cube__wrap .cube .cube_bottom {
        background: #271C1C;
        transform: rotateX(90deg) translateZ(calc(var(--size) * -.5));
    }
    
    .sec4-2 .cube__wrap .cube .cube_front {
        background: #D04747;
        transform: translateZ(calc(var(--size) * .5));
    }
    
    .sec4-2 .cube__wrap .cube .cube_back {
        background: #701919;
        transform: translateZ(calc(var(--size) * -.5));
    }
    
    .sec4-2 .cube__wrap .cube .cube_left {
        background: #762121;
        transform: rotateY(90deg) translateZ(calc(var(--size) * .5));
    }
    
    .sec4-2 .cube__wrap .cube .cube_right {
        background: #391E1E;
        transform: rotateY(90deg) translateZ(calc(var(--size) * -.5));
    }
    
    /* .sec4 .angel {
        position: absolute;
        width: 100% !important;
        height: 100% !important;
        border-radius: 0 !important;
    }
    .sec4 .angel .cursor-follower {
        display: none;
    } */

    /* .sec4 .red .red-txt h2 {
        line-height: 2.5;
        font-size: 115px;
    }
    .sec4 .red .red_img {
        position: absolute;
        overflow: hidden;
        text-align: center;
        transform: translate(-50%, -50%);
    }
    .sec4 .red .red_img img {
        width: 120%;
        height: 120%;
    }

    .sec4 .red .red_img01 {
        top: 13%;
        left: 50%;
    }
    
    .sec4 .red .red_img02 {
        top: -14%;
        left: 50%;
    }
    
    .sec4 .red .red_img03 {
        top: 22%;
        left: 92%;
    }
    
    .sec4 .red .red_img04 {
        top: -4%;
        left: -6%;
    }
    .sec4 .red .red_img05 {
        top: 0%;
        left: 96%;
    }
    
    .sec4 .red .red_img06 {
        top: 35%;
        left: 60%;
    }
    
    .sec4 .red .red_img07 {
        top: 9%;
        left: 32%;
    }
    
    .sec4 .red .red_img08 {
        top: 13%;
        left: 90%;
    } */


    /* sec4 angel */
    /* .sec4 .angel #container {
        display: none;
        position: absolute;
        left: -18%;
        width: 120%;
    } */
    /* .sec4 .angel #container canvas {
        width: 50% !important;
    } */
    /* .sec4 .angel .angel_img {
        position: absolute;
        top: 45%;
        left: 40%;
        transform: translate(-50%, -50%) scale(0.5);
    }
    
    .sec4 .angel .boy_img {
        position: absolute;
        top: 65%;
        left: 70%;
        transform: translate(-50%, -50%) scale(0.5);
    }

    .sec4 .angel h2 {
        top: 10%;
        left: 3%;
    }
    .sec4 .angel .angel1 {
        left: 51%;
        top: 25%;
    }
    .sec4 .angel .angel2 {
        bottom: 4%;
    }
    .sec4 .angel p {
        font-size: 32px;
    }
    .sec4 .angel .angel-box .angel3 {
        white-space: nowrap;
    }

    @keyframes DeadHeart {
        0% {
            left: 120%
        }
    
        100% {
            left: -160%
        }
    } */

    /* ani */
    /* .sec4 .animation .ani__title h2 {
        font-size: 120px;
    }
    .sec4 .animation .ani__title::after {
        font-size: 12px;
        right: 43%;
    }

    .sec4 .animation .ani-text h2 em {
        font-size: 65px;
    }

    .sec4 .angel .cursor-follower {
        width: 350px !important;
        height: 350px !important;
    } */

    /* sec5 */
    #section5 {
        display: none;
    }

    /* .sec5 .library img {
        width: 100%;
        height: 100%;
    }
    .sec5 .sec5_text_01_1,
    .sec5 .sec5_text_02_1 {
        top: 49%;
    }
    .sec5 .sec5_text_01_2,
    .sec5 .sec5_text_02_2 {
        top: 50%;
    }
    .sec5 .sec5_text_01_3,
    .sec5 .sec5_text_02_3 {
        top: 51%;
    }
    .sec5 p {
        top: 52%;
    }
    .sec9 .contact {
        padding-top: 150%;
    } */

    /* sec6 */
    #section6 {
        height: 2300px;
    }

    .sec6 {
        height: 2300px;
        padding-top: 100px;
        display: block !important;
    }

    .sec6 .web__back {
        display: none;
    }

    .sec6 .web_cont {
        display: none;
    }

    .sec6 .web_mobile {
        display: block;
    }
    .sec6 .web_mobile h2 {
        color: #fff;
        font-family: "BRANCHE";
        text-align: center;
        font-size: 90px;
        padding-bottom: 50px;

    }

    .sec6 .web_mobile .web_mobile_box {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 100px;
        padding-bottom: 50px;
        opacity: 0;
        transform: translateX(-100px);
    }
    .sec6 .web_mobile .web_mobile_box:nth-child(2n) {
        transform: translateX(100px);
    }

    .sec6 .web_mobile .web_mobile_box a {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sec6 .web_mobile .web_mobile_box img {
        width: 90%;
    }

    .sec6 .web_mobile .web_mobile_box p {
        font-family: "BRANCHE";
        font-size: 9vw;
        color: #fff;
    }

    /* sec8 */
    #section8 {
        height: 300px !important;
    }
    .sec8 {
        height: 300px !important;
    }
    .sec8 .contact_before .cb_p1 {
        margin-top: 0;
        opacity: 1;
        top: 65%;

    }
    /* sec9 */
    #section9 {
        height: 50vh;
    }
    .sec9 .contact {
        padding-top: 10%;
        flex-direction: column;
    }

    .sec9 .contact .contact_left {
        color: #999;
        flex: none;
        margin-bottom: 30px;
    }
    
    .sec9 .contact .contact_left p {
        font-size: 18px;
    }
    
    .sec9 .contact .contact_left h3 {
        font-size: 26px;
    }
    
    .sec9 .contact .contact_right {
        color: #999;
        flex: 1;
        padding-bottom: 200px;
    }
    
    .sec9 .contact .contact_right p {
        font-size: 18px;
    }
    
    .sec9 .contact .contact_right h3 {
        font-size: 26px;
    }

    .sec9 .contact .contact_right img {
        width: 80px;
    }
}