/* font */
@font-face {
    font-family: "North";
    src: url(../fonts/North_Carossela.woff);
}

@font-face {
    font-family: "Miracle";
    src: url(../fonts/Miracle_Personal_use.woff);
}

@font-face {
    font-family: "Champagne";
    src: url(../fonts/Champagne-_-Limousines.woff);
}

@font-face {
    font-family: "Butterflies";
    src: url(../fonts/Butterflies.woff);
}

@font-face {
    font-family: "BRANCHE";
    src: url(../fonts/BRANCHE-Demo.woff);
}

@font-face {
    font-family: "BRANCHEOL";
    src: url(../fonts/BRANCHE-Outline-DEMO.woff);
}

@font-face {
    font-family: "Signatria";
    src: url(../fonts/Signatria.woff)
}

@font-face {
    font-family: "Painted";
    src: url(../fonts/Painted.woff)
}

@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* scroll */
.scroll {
    position: fixed;
    left: 30px;
    bottom: 30px;
    width: 50px;
    height: 50px;
    padding: 0 10px 0 10px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    z-index: 100000;
    font-family: "BRANCHE";
    font-size: 30px;
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
    -moz-text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
    -webkit-text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
}



/* scrollbar */

::-webkit-scrollbar {
    width: 10px
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background-color: #000000;
}

::-webkit-scrollbar-button {
    background-color: #000000;
}

::-webkit-scrollbar-corner {
    background-color: #c4c4c4;
}

/* header */
#header h1 {
    position: fixed;
    left: 30px;
    top: 30px;
    z-index: 10000;
    font-family: "BRANCHE";
}

#header h1 a {
    font-size: 30px;
    background: #000;
    color: #fff;
    display: inline-block;
    padding: 4px 20px 5px 20px;
    border-radius: 3px;
}

/* layout */
#contents {
    overflow: hidden;
}

#contents>section {
    position: relative;
}

#section1 {
    height: 100vh;
    background: #c4c4c4;
    z-index: 6000;
}

#section2 {
    background: #000000;
    z-index: 5000;
}

#section3 {
    height: 16500px;
    background: #c4c4c4;
    z-index: 4000;
}

#section4 {
    height: 32000px;
    background: #9A1C0E;
    z-index: 5000;
}

#section5 {
    height: 5500px;
    background: #000;
    z-index: 5500;
}

#section6 {
    height: 15500px;
    z-index: 6000;
}

#section7 {
    background: #000;
    height: 100vh;
    z-index: 6500;
}

#section8 {
    height: 0px;
    background: #cccccc;
    z-index: 7000;
}

/* container */
.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

/* sec1 */
.sec1 .maintit {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -80%);
    height: 22vw;
    text-align: center;
    z-index: 1000;
    overflow: hidden;
}
.sec1 .maintit h2 {
    font-family: "Miracle";
    font-size: 19vw;
    transform: translateY("-200px");
    opacity: 0;

    
}

.sec1 h2 .hit {
    font-size: 30px;
    position: absolute;
    right: 10vw;
    bottom: 0vw;
    color: #565656;
    font-family: "North";
    letter-spacing: 1px;
}

.sec1 h2 em {
    position: relative;
    z-index: 950;
}

.sec1 h2::after {
    content: "";
    width: 0vw;
    height: 3vw;
    background: #fade01;
    position: absolute;
    left: -15%;
    top: 42.1%;
    animation: Line 5s forwards;
    animation-delay: 2s;
}

@keyframes Line {
    0% {
        width: 0vw;
    }

    100% {
        width: 52vw;
    }
}

.sec1 .face {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -30%);
    width: 0vw;
    height: 0vw;
    z-index: 900;
    background: url("../img/main-face.jpg") center top / cover;
    border-radius: 50%;
    opacity: 0;
}

.sec1 .face img {
    width: 100%;
    filter: grayscale(100%) contrast(40%);
}


/* sec2 */
.sec2 {
    color: #fff;
    text-align: center;
    padding: 300px 0 200px 0;
}

.sec2 span {
    display: block;
    font-size: 18px;
}

.sec2 h2 {
    color: #fff;
    font-family: "Miracle";
    font-size: 15vw;
    line-height: 1;
    font-weight: normal;
    margin-bottom: 20%;
    position: relative;
    opacity: 0.3;
}

.sec2 h2 .hit {
    font-size: 1.5vw;
    position: absolute;
    left: 17vw;
    bottom: -2vw;
    color: #808080;
    font-family: "North";
    letter-spacing: 1px;
}

.sec2 h2 em {
    position: relative;
    z-index: 950;
}

.sec2 h2::after {
    content: "";
    width: 0%;
    height: 2vw;
    background: #fade01;
    position: absolute;
    right: 0%;
    top: 60%;
}

.sec2 h2.active::after {
    animation: Line02 5s forwards;
}

@keyframes Line02 {
    0% {
        width: 0%;
    }

    100% {
        width: 60%;
    }
}

.sec2 h2 strong {
    font-weight: normal;
    display: block;
}

.sec2 .txt-wrap {
    position: relative;
    font-family: "North";

}

.sec2 .txt-wrap p {
    font-size: 4.4vw;
    line-height: 0.55;
    margin-bottom: 3vw;
    padding-top: 1vw;
}

.sec2 .txt-wrap .kor {
    font-size: 1vw;
    font-family: 'Cafe24SsurroundAir';
    padding: 10vw;
    line-height: 1.8;
}

.sec2 .txt-wrap .kor em {
    opacity: 0;
}

/* sec2 script css */

.sec2 .txt-wrap span {
    display: inline-block;
    font-size: 4.4vw;
    line-height: 0.25;
    min-width: 20px;
    position: relative;
    font-family: "North";
    color: #ffffff;
    opacity: 0.2;
}

/* .sec2 .txt-wrap span.active {
    color: #ffffff !important;
} */

/* //sec2 script css */


.sec2 .face {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    width: 22vw;
    height: 22vw;
    z-index: -1;
    background: url("../img/main-face.jpg") center top / cover;
    border-radius: 50%;
    filter: grayscale(100%) contrast(80%) brightness(25%);
}


.sec2 .sign {
    font-family: "Signatria";
}

.sec2 .sign-txt {
    font-size: 2vw !important;
    font-family: "BRANCHE";
    color: #333;
    letter-spacing: 0.8vw;
}

/* sec3 */
.sec3 {
    height: 100vh;
}

.sec3 h2 {
    font-family: "BRANCHE";
    font-size: 0vw;
    line-height: 1;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.sec3 h2 .top {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0px;
    background: #c4c4c4;
}

.sec3 h2 .bom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0px;
    background: #c4c4c4;
}

.sec3 .text-box {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
}

.sec3 .text-box>div {
    white-space: nowrap;
    height: 33vh;
    font-size: 33vh;
    line-height: 1;
    font-family: "BRANCHE";
}

.sec3 .text-box .if-box {
    width: 60vw;
    height: 60vh;
    background: #000;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.sec3 .text-box .if-box iframe {
    width: 100%;
    height: 100%;
}

.sec3 .text-box>div em {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px #000;
}


@keyframes angelDown {
    0% {
        background: #c4c4c4;
    }

    100% {
        background: #9A1C0E;
    }
}

@keyframes angelDown2 {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes angelUp {
    0% {
        background: #9A1C0E;
    }

    100% {
        background: #c4c4c4;
    }
}

@keyframes angelUp2 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* sec4 */
.sec4 .red {
    background: #9A1C0E;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 500vh;
    overflow: hidden;
}

.sec4 .red .red-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 500vh;
    text-align: center;
    transform: translate(-50%, -50%);
}

.sec4 .red .red-txt h2 {
    font-size: 15vw;
    padding-top: 15%;
    color: #ffffff;
    line-height: 2;
    animation: look 3s infinite;
}

.sec4 .red .red-txt h2:nth-child(1) {
    padding-top: 11%;
    top: 10%;
}

.sec4 .red .red-txt h2:nth-child(2) {
    top: 30%;
}

.sec4 .red .red-txt h2:nth-child(3) {
    top: 50%;
}

.sec4 .red .red-txt h2:nth-child(4) {
    top: 70%;
}

.sec4 .red .red-txt h2:nth-child(5) {
    top: 90%;
}

@keyframes look {
    0% {
        font-family: "North";
    }

    12.5% {
        font-family: "Signatria";
    }

    25% {
        font-family: "BRANCHEOL";
    }

    50% {
        font-family: "Champagne";
    }

    75% {
        font-family: "BRANCHE";
    }

    100% {
        font-family: "Miracle";
    }
}

.sec4 .red .red_img {
    position: absolute;
    overflow: hidden;
    text-align: center;
    transform: translate(-50%, -50%);
}

.sec4 .red .red_img01 {
    top: 20%;
    left: 50%;
}

.sec4 .red .red_img02 {
    top: -2%;
    left: 50%;
}

.sec4 .red .red_img03 {
    top: 40%;
    left: 70%;
}

.sec4 .red .red_img04 {
    top: 18%;
    left: 10%;
}

.sec4 .red .red_img05 {
    top: 28%;
    left: 80%;
}

.sec4 .red .red_img06 {
    top: 70%;
    left: 60%;
}

.sec4 .red .red_img07 {
    top: 48%;
    left: 40%;
}

.sec4 .red .red_img08 {
    top: 58%;
    left: 90%;
}

.sec4 .red img {}


.sec4 .cube__wrap {
    --size: 10vw;
    position: fixed;
    bottom: 50%;
    left: 0%;
    perspective: 40vw;
    width: 0;
    height: 0;
}

.sec4 .cube__wrap .cube {
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateZ(45deg) rotateY(-45deg);
    animation: cube 2s infinite;
    animation-play-state: paused;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.sec4 .cube__wrap .cube .cube_Section {
    position: absolute;
    width: var(--size);
    height: var(--size);
    background-color: #eee;
    backface-visibility: visible;
    top: calc(var(--size) * -.5);
    left: calc(var(--size) * -.5);
}

.sec4 .cube__wrap .cube .cube_top {
    background: #CB4545;
    transform: rotateX(90deg) translateZ(calc(var(--size) * .5));
}

.sec4 .cube__wrap .cube .cube_bottom {
    background: #271C1C;
    transform: rotateX(90deg) translateZ(calc(var(--size) * -.5));
}

.sec4 .cube__wrap .cube .cube_front {
    background: #D04747;
    transform: translateZ(calc(var(--size) * .5));
}

.sec4 .cube__wrap .cube .cube_back {
    background: #701919;
    transform: translateZ(calc(var(--size) * -.5));
}

.sec4 .cube__wrap .cube .cube_left {
    background: #762121;
    transform: rotateY(90deg) translateZ(calc(var(--size) * .5));
}

.sec4 .cube__wrap .cube .cube_right {
    background: #391E1E;
    transform: rotateY(90deg) translateZ(calc(var(--size) * -.5));
}





.sec4 .angel {
    position: fixed;
    background: #8b1508;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    overflow: hidden;
    cursor: none;
}

.sec4 #container {
    width: 100px;
    height: 100vh;
}

.sec4 .angel .angel_img {
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%) scale(0.9);
}

.sec4 .angel .boy_img {
    position: absolute;
    top: 65%;
    left: 60%;
    transform: translate(-50%, -50%) scale(0.9);
}

.sec4 .angel h2::selection,
.sec4 .angel p::selection {
    background: transparent;
    color: red;
}

.sec4 .angel .cursor__angel {
    position: absolute;
    width: 1vw;
    height: 1vw;
    background: #000000;
    border-radius: 50%;
}

.sec4 .angel .cursor__angel .circle-wave {
    position: absolute;
    top: 0%;
    right: 0%;
    transform: translate(50%, 50%);
    width: 0;
    height: 0;
    border: 1px solid #000000;
    opacity: 0;
    border-radius: 50%;
    animation: circle-wave 3s infinite ease-in;
}

.sec4 .angel .cursor__angel .cw1 {
    animation-delay: 1s;
}

.sec4 .angel .cursor__angel .cw2 {
    animation-delay: 2s;

}

.sec4 .angel .cursor__angel .cw3 {
    animation-delay: 3s;
}

@keyframes circle-wave {
    0% {
        width: 0;
        height: 0;
        top: 50%;
        right: 50%;
        opacity: 0;
    }

    25% {
        opacity: 50%;
    }

    100% {
        top: -1000%;
        right: 50%;
        width: 10vw;
        height: 10vw;
        opacity: 0;
    }
}


.sec4 .angel h2 {
    position: absolute;
    top: -9%;
    left: 0%;
    font-family: "North";
    font-weight: normal;
    width: 100%;
    font-size: 13vw;
    color: #000;
}

.sec4 .angel p {
    position: absolute;
    width: 100%;
    font-family: "North";
    font-size: 5vw;
    color: #000;
}

.sec4 .angel .angel1 {

    top: 50%;
    left: 88.5%;
    transform: translate(-50%, -50%);
    text-align: left;
}

.sec4 .angel .angel2 {
    bottom: 10%;
    left: 5%;
}

.sec4 .angel .angel-box {
    position: absolute;
    overflow: hidden;
    width: 100%;
    bottom: 0;
    left: 0;
}

.sec4 .angel .angel-box .angel3 {
    position: relative;
    width: 120vw;
    animation: DeadHeart 18s ease-in infinite;
}

@keyframes DeadHeart {
    0% {
        left: 120%
    }

    100% {
        left: -110%
    }
}

.sec4 .animation {
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}

.sec4 .animation .ani__title {
    position: fixed;
    font-family: "BRANCHE";
    text-align: center;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    line-height: 100vh;
}

.sec4 .animation .ani__title h2 {
    font-size: 18vw;
    color: #ffffff;
}

.sec4 .animation .ani__title::after {
    content: 'Complication';
    position: absolute;
    top: 50%;
    right: 43.5%;
    transform: translate(-50%, -50%) rotate(90deg);
    color: #000;
    font-size: 1.5vw;
}


.sec4 .animation .ani-text {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    line-height: 100vh;
    white-space: nowrap;
    z-index: 5490;
    cursor: none;
}

.sec4 .animation .ani-text h2 {
    font-size: 10vw;
    color: #000;
}

.sec4 .animation .ani-text h2 em {
    font-family: "BRANCHE";
    font-size: 10vw;
    color: #000;
    background: transparent;
    cursor: none;
}

.sec4 .animation .ani-text em:hover {
    color: #ffffff;
}

.sec4 .angel .cursor-follower {
    position: absolute;
    width: 10vw;
    height: 10vw;
    border: 0;
    opacity: 0;
    transition: .5s all ease-in-out;
}

.sec4 .angel .cursor-follower.active {
    width: 25vw;
    height: 20vw;
    opacity: 0.8;
    z-index: 5499;
}

.sec4 .angel .cursor-follower iframe {
    width: 100%;
    height: 100%;
}

.sec4 .angel .angel_heart {
    width: 2vw;
    height: 2vw;
    position: absolute;
    top: 47%;
    left: 60%;
    transform: translate(-50%, -50%);
    background: #000;
    border-radius: 50%;
    z-index: 5499;
}

/* sec5 */

.sec5 {
    height: inherit;
    padding-top: 50vw;
}

.sec5 .library {
    padding-top: 100px;
    display: flex;
    width: 100%;
    height: 200vh;
    flex-direction: column;
    overflow: hidden;
    height: 2500px;
}

.sec5 .library .lib_mark {
    position: absolute;
    width: 3vw;
    height: 1vw;
    background: #000;
}

.sec5 .library .lib_cont {
    position: relative;
    --x: 0;
    --y: 0;
    overflow: hidden;
}

.sec5 .library .lib_cont .lib_text {
    font-size: 10vw;
    line-height: 1;
    font-family: "North";
    white-space: nowrap;
}

.sec5 .library .lib_cont .lib_text>div:nth-child(2n-1) {
    position: relative;
    left: -400%;
    z-index: 5503;
    color: #fff;
    mix-blend-mode: difference;
}
.sec5 .library .lib_cont .lib_text>div:nth-child(2n) {
    position: relative;
    z-index: 5501;
    color: #fff;
    mix-blend-mode: difference;
}
.sec5 .library .lib_cont .lib_text>div:nth-child(10) {
}
.sec5 .library .lib_cont .lib_text:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0vw;
    height: 0.2vw;
    background: #fff;
}
.sec5 .library .lib_cont .lib_text.active:after {
    animation: webline 3s ease-in-out forwards;
}
@keyframes webline {
    0% {
        width: 0vw
    }
    100% {
        width: 100vw;
    }
}
.sec5 .library .lib_cont .lib_text>div:nth-child(10):hover {
    color: #fade01;
    
}

.sec5 .library .lib_cont .frameout {
    position: absolute;
    top: 45%;
    left: 20%;
    z-index: 5502;
}

.sec5 .library .lib_cont .frame {
    position: relative;
    width: 15vw;
    height: 15vw;
    overflow: hidden;
    box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.8) inset;
    transition: transform 500ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
    margin-bottom: 20px;
    z-index: 5502;
}

.sec5 .library .lib_cont .frame:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 30vw;
    height: 30vw;
    box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.9) inset;
    z-index: 5502;

}

.sec5 .eye {
    position: absolute;
    top: 5%;
    left: 85%;
    width: 12vw;
    height: 12vw;
    overflow: hidden;
    opacity: 0;
}

.sec5 .eye img {
    width: 10vw;
    height: 10vw;
}

.sec5 .ben {
    position: absolute;
    top: -10%;
    right: 0%;
    width: 8vw;
    height: 40vw;
    overflow: hidden;
}
.sec5 .ben img {
}

.sec5 .cotton {
    position: absolute;
    bottom: 5%;
    left: 45%;
    width: 14vw;
    height: 14vw;
    border-radius: 50%;
    overflow: hidden;
}
.sec5 .cotton img {
    width: 14vw;
    height: 20vw;
    filter: grayscale(100%) contrast(100%);
}

.sec5 .flower {
    position: absolute;
    bottom: 45%;
    left: 40%;
    width: 16vw;
    height: 24vw;
    overflow: hidden;
    z-index: 5600;
}
.sec5 .flower:hover {
    background: #fff;
    color: #050801;
    -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
.sec5 .flower img {
    width: 16vw;
    height: 24vw;
    filter: grayscale(100%) contrast(100%);
}
.sec5 .wall {
    position: absolute;
    top: 20%;
    right: 15%;
    width: 20vw;
    height: 15vw;
    overflow: hidden;
}
.sec5 .wall img {
}
.sec5 .girl {
    position: absolute;
    bottom: 10%;
    right: 5%;
    width: 25vw;
    height: 50vw;
    overflow: hidden;
}
.sec5 .tree {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 15vw;
    height: 40vw;
    overflow: hidden;
}

.sec5 .crisis {
    position: absolute;
    font-family: "BRANCHE";
    color: #fff;
    top: 7%;
    left: 5%;
    font-size: 4vw;
    transform: rotate(90deg)
}

.sec5 .library .lib_cont .frame img {
    --d: 20;
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    object-fit: cover;
    transition: transform 500ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
    transform: translate(calc(var(--x) / var(--d) * 1px), calc(var(--y) / var(--d) * 1px));
    z-index: 5502;
    filter: grayscale(100%) contrast(100%);
}

.sec5 .web .web_tit {
    position: fixed;
    width: 100vw;
    top: 0%;
    left: 0%;
    text-transform: uppercase;
    text-align: center;
    font-size: 0vw;
    opacity: 0;
    color: #ffffff;
    opacity: 1;
}

.sec5 .web {}

.sec5 .web .web_tit h2 {
    margin: 0 auto;
    line-height: 100vh;
    white-space: nowrap;
    font-family: "BRANCHE";
}




/* sec6 */

.sec6 {
    padding-top: 300px;
    height: inherit;
}


/* .sec6 .viewcursor {
    position: absolute;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: #000;
    line-height: 50px;
    text-align: center;
    font-size: 0vw;
    color: #fff;
    user-select: none;
    pointer-events: none;
    opacity: 0;
    z-index: 5999;
} */


.sec6 .web_cont {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.sec6 .web_cont .web_cont_text p{
    position: fixed;
    width: 100%;
    text-align: center;
    font-family: "BRANCHE";
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    font-size: 9vw;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.sec6 .web_cont .web_cont_text p:hover {
    color: #fff;
}

.sec6 .web_site_box {
    position: fixed;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sec6 .web_site_box .site_img {
    position: absolute;
    width: 35vw;
    height: 60vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.sec6 .web_site_box .site_img canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: grayscale(100%) contrast(100%);
}

.sec6 .web_site_box03 .site_img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.7);
    filter: grayscale(100%) contrast(100%);
}
.sec6 .web_site_box .site_img img:hover {
    filter: none
}

/* .sec6 .sec6title {
    position: fixed;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100vh;
    line-height: 100vh;
}

.sec6 .sec6title img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.sec6 .sec6title .sec6tit {
    font-family: "BRANCHE";
    font-size: 16vw;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: url(http://jinmopin.dothome.co.kr/port/assets/img/library.jpg);
    background-size: "100%";
    background-position: center;
}

.sec6 .sec6title .sec6tit2 {
    position: fixed;
    top: 0;
    left: 0;
    font-family: "BRANCHE";
    width: 100%;
    height: 100vh;
    font-size: 16vw;
    color: #000;
} */

.sec6 .distortion {

}

/* sec7 */

.sec7 {
    height: 100vh;
}

.sec7 .contact_before {}

.sec7 .contact_before p {
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.sec7 .contact_before .cb_p1 {
    margin-top: 0.2vw;
    font-family: "Cafe24SsurroundAir";
    font-size: 3vw;
    opacity: 0;
}
.sec7 .contact_before .cb_p2 {
    font-family: "north";
    opacity: 0.5;
    font-size: 5vw;
    opacity: 0;
}

.sec7 .contact_before h3 {
    position: absolute;
    font-family: "Miracle";
    color: #fff;
    font-size: 16vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    opacity: 0;
}
.sec7 .contact {
    padding-top: 25%;
    display: flex;
    margin: 0 auto;
    width: 90%;
    font-family: "miracle";
    height: 50vh;
    color: #fff;
    font-size: 2vw;
}

.sec7 .contact h3 {
    font-size: 6vw;
}
.sec7 .contact .contact_left {
    color: #999;
    flex: 1 1 50%;
}
.sec7 .contact .contact_left p {
    opacity: 0;
}
.sec7 .contact .contact_left h3 {
    font-size: 4vw;
    opacity: 0;
}
.sec7 .contact .contact_right {
    color: #999;
    flex: 1 1 50%;
}
.sec7 .contact .contact_right p {
    opacity: 0;
}
.sec7 .contact .contact_right h3 {
    font-size: 4vw;
    opacity: 0;
}
.sec7 .contact .contact_right img {
    opacity: 0;
}


/* .sec7 .web_site_tit {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    line-height: 100vh;
    color: #000000;
}

.sec7 .web_site_tit h2 {
    padding-top: 2vw;
    text-align: center;
    font-size: 20vw;
    font-family: "BRANCHE";
    color: #000000;
} */
