@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
@font-face {
  font-family: 'NEXON Lv1 Gothic OTF Light';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NEXON Lv1 Gothic OTF Bold';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'spyagency3_2halfital';
  src: url("../font/spyagency3_2halfital.woff");
}

.nanumbrushscript * {
  font-family: 'Nanum Brush Script', cursive;
}

@font-face {
  font-family: 'Spy_Agency_Expa_nded_Italic';
  src: url("../font/Spy_Agency_Expa_nded_Italic.woff");
}

@font-face {
  font-family: RIVERFLOWS;
  src: url(../font/RIVERFLOWS.woff);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*여백 초기화*/
body,
div,
ul,
li,
dl,
dt,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
fieldset,
legend,
p,
select,
table,
tr,
td,
textarea,
button,
form {
  margin: 0;
  padding: 0;
}

/*링크 초기화*/
a {
  color: #222;
  text-decoration: none;
}

a:hover {
  color: #390;
}

/*폰트 설정*/
/*제목 태그 초기화*/
/* h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 13px;
    color: #222;
    font-weight: normal;
} */
/*블릿기호*/
/* ld,dd,dt : 정의 목록형태그
ol,li : 순서가 있는 목록형 태그
ul,li 순서가 없는 목록형 태그 */
dl,
ul,
li,
ol {
  list-style: none;
}

/*이미지 초기화*/
img {
  border: 0;
  /* display: block; */
  vertical-align: top;
  /*이화지 여백 초기화*/
}

/*보더 초기화*/
fieldset {
  border: 0;
}

/*스타일 초기화*/
em {
  font-style: normal;
}

/* ir 효과 */
.ir_pm {
  /* 의미있는 이미지의 대체 텍스트를 제공하는 경우 */
  display: block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}

.ir_wa {
  /*의미있는 이미지의 대체 텍스트로 이미지가 없어도 대체 텍스트를 보여주고자 할 때*/
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.ir_so {
  /*대체 텍스트가 아닌 접근성을 위한 숨김 텍스트*/
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

/* scroll */
/*로딩*/
.progress {
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 99999;
  width: 100%;
  height: 100vh;
  background: #1c1c1c;
}

.progress .progress-text {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 6vw;
  color: #fff;
  font-family: Spy_Agency_Expa_nded_Italic;
}

/*bgm*/
.audio {
  position: fixed;
  right: 1vw;
  top: 4vh;
  width: 60px;
  height: 60px;
  z-index: 200000;
}

.audio .btn-sound {
  width: 24px;
  height: 24px;
  background: #d82222;
  border: 0;
  background-image: url(../img/icon-sound-on.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: transparent;
  position: relative;
  cursor: pointer;
}

.audio .btn-sound:active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.audio .btn-sound::before {
  display: block;
  content: '';
  position: absolute;
  top: 8px;
  left: -3px;
  width: 120%;
  height: 2px;
  background: #eb1616;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
}

.audio .btn-sound.playingNo::before {
  display: none;
}

#contents {
  /*메인페이지*/
  /*사이트페이지*/
  /*중간표지*/
  /*스크립트페이지*/
  /*중간표지*/
  /*에니메이션도입*/
  /*에니메이션*/
  /*꼬릿말*/
}

#contents #section1 {
  position: relative;
  z-index: 5000;
  height: 5000px;
  background: #1c1c1c;
}

#contents #section2 {
  position: relative;
  z-index: 5001;
  height: 17000px;
  background: #1c1c1c;
}

#contents #section3 {
  position: relative;
  z-index: 4000;
  height: 2000px;
  background: #1c1c1c;
}

#contents #section4 {
  position: relative;
  z-index: 5001;
  height: 11200px;
  background: #f5f5f5;
}

#contents #section5 {
  position: relative;
  z-index: 4000;
  height: 800px;
  background: #4a648d;
}

#contents #section6 {
  position: relative;
  z-index: 5000;
  height: 7000px;
  background: #8100f9;
}

#contents #section7 {
  position: relative;
  z-index: 5000;
  height: 8000px;
  background: #921313;
}

#contents #section8 {
  position: relative;
  z-index: 5000;
  background: #da9917;
}

/*^^section1(메인페이지) ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.mainPages {
  position: fixed;
  left: 0;
  top: 0;
  width: 700%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainPages .mp_main {
  width: 100%;
  height: 100vh;
  background: #000;
}

.mainPages .mp_title {
  width: 600%;
  height: 100vh;
  background: #000;
}

.mainPages .mp_menu {
  width: 100%;
  height: 100%;
  background: url(../img/maincover.jpg) fixed 100% 100%/100% 100%;
}

.mp_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  position: relative;
  z-index: 1001;
}

.mp_ma_content1 {
  margin-left: 5vw;
}

.mp_ma_content1 h1 {
  font-family: spyagency3_2halfital;
  font-size: 12vw;
  font-weight: normal;
  padding-bottom: 3vw;
}

.mp_ma_content1 .mp_ma_co1_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: NEXON Lv1 Gothic OTF Light;
}

.mp_ma_content1 .mp_ma_co1_text figure {
  padding-right: 3vw;
}

.mp_ma_content1 .mp_ma_co1_text figure img {
  width: 12.4vw;
}

.mp_ma_content1 .mp_ma_co1_text p {
  font-size: 1.1vw;
  line-height: 1.5;
}

.mp_ma_content1 .mp_ma_co1_text p em {
  display: block;
  padding-bottom: 1vw;
  color: #cfcfcf;
}

.mp_ma_content1 .mp_ma_co1_text p strong {
  display: block;
  margin-top: 2vw;
  text-align: right;
  font-family: Nanum Brush Script;
  font-size: 1.6vw;
  color: #cac5c5;
}

.mp_ma_content1 .mp_ma_co1_arrow {
  position: absolute;
  right: 1.6vw;
  bottom: 1.6vw;
  width: 3.2vw;
  height: 3.2vw;
  background: #fff;
  border-radius: 50%;
}

.mp_ma_content1 .mp_ma_co1_arrow img {
  width: 90%;
  position: absolute;
  top: 10px;
  left: 0px;
  -webkit-animation: arrow1 2s infinite;
          animation: arrow1 2s infinite;
}

@-webkit-keyframes arrow1 {
  0% {
    left: -45px;
  }
  100% {
    left: 65px;
  }
}

@keyframes arrow1 {
  0% {
    left: -45px;
  }
  100% {
    left: 65px;
  }
}

.mp_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1001;
}

.mp_ti_content1 {
  color: #fff;
}

.mp_ti_content1 h1 {
  font-family: spyagency3_2halfital;
  font-size: 46vw;
  font-weight: normal;
}

.mp_ti_co1_img_wrap_l1 {
  position: absolute;
  left: 160.8vw;
  top: 5vh;
  width: 32vw;
  height: 25vh;
  background: red;
  border-radius: 0.5vw;
  overflow: hidden;
}

.mp_ti_co1_img_wrap_l1 .img {
  background: url(../img/mainAlbum1.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.mp_ti_co1_img_wrap_l2 {
  position: absolute;
  left: 255.0vw;
  top: 65vh;
  width: 32vw;
  height: 25vh;
  background: red;
  border-radius: 0.5vw;
  overflow: hidden;
}

.mp_ti_co1_img_wrap_l2 .img {
  background: url(../img/mainAlbum2.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.mp_ti_co1_img_wrap_l3 {
  position: absolute;
  left: 335vw;
  top: 5vh;
  width: 32vw;
  height: 25vh;
  background: red;
  border-radius: 0.5vw;
  overflow: hidden;
}

.mp_ti_co1_img_wrap_l3 .img {
  background: url(../img/mainAlbum3.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.mp_ti_co1_img_wrap_l4 {
  position: absolute;
  left: 450vw;
  top: 60vh;
  width: 32vw;
  height: 25vh;
  background: #0bcc35;
  border-radius: 0.5vw;
  overflow: hidden;
}

.mp_ti_co1_img_wrap_l4 .img {
  background: url(../img/mainAlbum4.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.mp_menu {
  position: fixed;
  left: 0%;
  top: 0;
  z-index: 1000;
}

.mp_me_content1 {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.mp_me_content1 div {
  width: 28.2vw;
  height: 70vh;
}

.mp_me_content1 div img {
  width: 100%;
}

/*//section1(메인페이지) ------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
/*^^section2(사이트_페이지) ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
#sip_header figure img {
  width: 100%;
}

.sip_content1 {
  padding: 0 5.2vw;
  font-family: NEXON Lv1 Gothic OTF Light;
  background: #1c1c1c;
  color: #f5f5f5;
}

.sip_co1_text1 {
  padding-bottom: 20vh;
}

.sip_co1_text1 h1 {
  font-family: NEXON Lv1 Gothic OTF Bold;
  font-size: 7.3vw;
  text-transform: uppercase;
  letter-spacing: -0.3vw;
  font-weight: bold;
  padding: 5.3vw 0 0 0.2vw;
}

.sip_co1_text1 p {
  padding: 0 20px;
  font-size: 3.1vw;
  font-weight: 300;
}

.sip_co1_siteIntroduce1 {
  border-top: 0.1vw solid;
  border-bottom: 0.1vw solid;
  padding-top: 6.9vw;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sip_co1_siteIntroduce1 .sip_co1_si_room1 {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}

.sip_co1_siteIntroduce1 .sip_co1_si_room1 p {
  font-size: 4.2vw;
}

.sip_co1_siteIntroduce1 .sip_co1_si_room2 {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.sip_co1_siteIntroduce1 .sip_co1_si_room2 p {
  font-size: 3.1vw;
  line-height: 1.17;
}

.sip_co1_siteIntroduce1 .sip_co1_si_room3 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.sip_co1_siteIntroduce1 .sip_co1_si_room3 .sip_co1_si_ro3_box1 {
  padding-bottom: 2.6vw;
}

.sip_co1_siteIntroduce1 .sip_co1_si_room3 .sip_co1_si_ro3_box1 p {
  font-size: 1.6vw;
  line-height: 1.33;
}

.sip_co1_siteIntroduce1 .sip_co1_si_room3 .sip_co1_si_ro3_box2 p {
  font-size: 1.0vw;
  letter-spacing: 0.0vw;
  padding: 1.0vw;
  border-top: 0.1vw solid #f5f5f5;
}

.sip_co1_siteIntroduce1 .sip_co1_si_room3 .sip_co1_si_ro3_box2 a {
  color: #000;
  border: 0.1vw solid #fff;
  background: #fff;
  padding: 0 1.3vw;
}

.sip_co1_siteIntroduce1 .sip_co1_si_room3 .sip_co1_si_ro3_box2 p:nth-child(3) {
  border-bottom: 0.1vw solid #f5f5f5;
}

.sip_co1_siteIntroduce1 .sip_co1_si_room3 .sip_co1_si_ro3_box3 {
  padding: 2.6vw 0 7.0vw 0.0vw;
}

.sip_co1_siteIntroduce1 .sip_co1_si_room3 .sip_co1_si_ro3_box3 figure {
  position: relative;
  overflow: hidden;
}

.sip_co1_siteIntroduce1 .sip_co1_si_room3 .sip_co1_si_ro3_box3 figure img {
  width: 50vw;
}

.sip_co1_siteIntroduce1 .sip_co1_si_room3 .sip_co1_si_ro3_box3 figure figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1.1em;
  opacity: 0;
  z-index: 2;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  text-align: center;
}

.sip_co1_siteIntroduce1 .sip_co1_si_room3 .sip_co1_si_ro3_box3 figure h3 {
  font-size: 5vw;
  line-height: 3.1vw;
  font-family: NEXON Lv1 Gothic OTF Bold;
}

.sip_co1_siteIntroduce1 .sip_co1_si_room3 .sip_co1_si_ro3_box3 figure h3 span {
  font-size: 1.3vw;
  font-family: NEXON Lv1 Gothic OTF Light;
}

.sip_co1_siteIntroduce1 .sip_co1_si_room3 .sip_co1_si_ro3_box3 figure h3 a {
  color: #fff;
  width: 100%;
}

.sip_co1_siteIntroduce1 .sip_co1_si_room3 .sip_co1_si_ro3_box3 figure::before {
  -webkit-transform: scaleY(2);
  transform: scaleY(2);
}

.sip_co1_siteIntroduce1 .sip_co1_si_room3 .sip_co1_si_ro3_box3 figure::after {
  -webkit-transform: scaleY(2);
  transform: scaleY(2);
}

.sip_co1_siteIntroduce1 .sip_co1_si_room3 .sip_co1_si_ro3_box3 figure::after, .sip_co1_siteIntroduce1 .sip_co1_si_room3 .sip_co1_si_ro3_box3 figure::before {
  background-color: rgba(7, 16, 35, 0.5);
  border-top: 20.8vw solid rgba(46, 52, 64, 0.5);
  border-bottom: 20.8vw solid rgba(46, 52, 64, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
  opacity: 0;
}

.sip_co1_siteIntroduce1 .sip_co1_si_room3 .sip_co1_si_ro3_box3 figure:hover::before, .sip_co1_siteIntroduce1 .sip_co1_si_room3 .sip_co1_si_ro3_box3 figure.hover::before, .sip_co1_siteIntroduce1 .sip_co1_si_room3 .sip_co1_si_ro3_box3 figure:hover::after, .sip_co1_siteIntroduce1 .sip_co1_si_room3 .sip_co1_si_ro3_box3 figure.hover::after {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.sip_co1_siteIntroduce1 .sip_co1_si_room3 .sip_co1_si_ro3_box3 figure:hover figcaption,
.sip_co1_siteIntroduce1 .sip_co1_si_room3 .sip_co1_si_ro3_box3 figure.hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

/*//section2(사이트_페이지) ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*^^section3(스크립트_패키지<전환>) ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.scriptPackages {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1500;
}

.scriptPackages .sp_contents {
  position: fixed;
  left: 0%;
  top: 0%;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: url(../img/maincover.jpg) fixed 100% 100%/100% 100%;
}

.scriptPackages .sp_contents div {
  width: 28.2vw;
  height: 70vh;
}

.scriptPackages .sp_contents div img {
  width: 100%;
}

/*//section3(스크립트_패키지<전환>) ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*^^section4(스크립트_페이지) -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
#srp_header figure img {
  width: 100%;
}

.srp_content1 {
  padding: 0 5.2vw;
  font-family: NEXON Lv1 Gothic OTF Light;
  background: #f3f3f3;
  color: #1c1c1c;
}

.srp_co1_text1 {
  padding-bottom: 5.7vw;
}

.srp_co1_text1 h1 {
  font-family: NEXON Lv1 Gothic OTF Bold;
  font-size: 7.3vw;
  text-transform: uppercase;
  letter-spacing: -0.3vw;
  font-weight: bold;
  padding: 5.3vw 0 0 0.2vw;
}

.srp_co1_text1 p {
  padding: 0 20px;
  font-size: 3.1vw;
  font-weight: 300;
}

.srp_co1_siteIntroduce1 {
  border-top: 0.1vw solid;
  padding-top: 3.1vw;
  font-weight: 300;
}

.srp_co1_siteIntroduce1 .srp_co1_si1_room1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.srp_co1_siteIntroduce1 .srp_co1_si1_room1 h1 {
  font-size: 4.2vw;
  font-weight: 100;
  -ms-flex-preferred-size: 9.5%;
      flex-basis: 9.5%;
}

.srp_co1_siteIntroduce1 .srp_co1_si1_room1 h2 {
  font-size: 3.3vw;
  font-weight: 300;
  line-height: 1;
  text-transform: uppercase;
}

.srp_co1_siteIntroduce1 .srp_co1_si1_room1 p {
  font-size: 0.9vw;
  letter-spacing: 0.0vw;
  line-height: 1.46;
  text-align: right;
  margin-left: auto;
}

.srp_co1_siteIntroduce1 .srp_co1_si1_room1 ul {
  margin-left: 1.0vw;
}

.srp_co1_siteIntroduce1 .srp_co1_si1_room1 ul li {
  padding: 0.8vw 5.5vw;
  text-align: center;
  margin-bottom: 0.5vw;
}

.srp_co1_siteIntroduce1 .srp_co1_si1_room1 ul li a {
  font-size: 1.0vw;
  font-weight: 300;
  letter-spacing: 0.0vw;
  color: #f5f5f5;
}

.srp_co1_siteIntroduce1 .srp_co1_si1_room1 ul li:nth-child(1) {
  background: #3b69be;
}

.srp_co1_siteIntroduce1 .srp_co1_si1_room1 ul li:nth-child(2) {
  background: #1c1c1c;
}

.srp_co1_siteIntroduce1 .srp_co1_si1_room2 {
  padding: 3.1vw 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.srp_co1_siteIntroduce1 .srp_co1_si1_room2 .srp_co1_si1_ro2_box1 {
  width: 80.9vw;
  height: 40.0vw;
  position: relative;
}

.srp_co1_siteIntroduce1 .srp_co1_si1_room2 .srp_co1_si1_ro2_box1 iframe {
  width: 100%;
  height: 100%;
}

.srp_co1_siteIntroduce1 .srp_co1_si1_room2 .srp_co1_si1_ro2_box1 .active {
  display: none;
}

.srp_co1_siteIntroduce1 .srp_co1_si1_room2 .srp_co1_si1_ro2_box1 .srpif1_1 {
  position: absolute;
  top: 0;
  left: 0;
}

.srp_co1_siteIntroduce1 .srp_co1_si1_room2 .srp_co1_si1_ro2_box1 .srpif1_2 {
  position: absolute;
  top: 0;
  left: 0;
}

.srp_co1_siteIntroduce2 {
  border-top: 0.1vw solid;
  padding-top: 3.1vw;
  font-weight: 300;
}

.srp_co1_siteIntroduce2 .srp_co1_si2_room1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.srp_co1_siteIntroduce2 .srp_co1_si2_room1 h1 {
  font-size: 4.2vw;
  font-weight: 100;
  -ms-flex-preferred-size: 9.5%;
      flex-basis: 9.5%;
}

.srp_co1_siteIntroduce2 .srp_co1_si2_room1 h2 {
  font-size: 3.3vw;
  font-weight: 300;
  line-height: 1;
  text-transform: uppercase;
}

.srp_co1_siteIntroduce2 .srp_co1_si2_room1 p {
  font-size: 0.9vw;
  letter-spacing: 0.0vw;
  line-height: 1.46;
  text-align: right;
  margin-left: auto;
}

.srp_co1_siteIntroduce2 .srp_co1_si2_room1 ul {
  margin-left: 1.0vw;
}

.srp_co1_siteIntroduce2 .srp_co1_si2_room1 ul li {
  padding: 0.8vw 5.5vw;
  text-align: center;
  margin-bottom: 0.5vw;
}

.srp_co1_siteIntroduce2 .srp_co1_si2_room1 ul li a {
  font-size: 1.0vw;
  font-weight: 300;
  letter-spacing: 0.0vw;
  color: #f5f5f5;
}

.srp_co1_siteIntroduce2 .srp_co1_si2_room1 ul li:nth-child(1) {
  background: #3b69be;
}

.srp_co1_siteIntroduce2 .srp_co1_si2_room1 ul li:nth-child(2) {
  background: #1c1c1c;
}

.srp_co1_siteIntroduce2 .srp_co1_si2_room2 {
  padding: 3.1vw 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.srp_co1_siteIntroduce2 .srp_co1_si2_room2 .srp_co1_si2_ro2_box1 {
  width: 80.9vw;
  height: 40.0vw;
  position: relative;
}

.srp_co1_siteIntroduce2 .srp_co1_si2_room2 .srp_co1_si2_ro2_box1 iframe {
  width: 100%;
  height: 100%;
}

.srp_co1_siteIntroduce2 .srp_co1_si2_room2 .srp_co1_si2_ro2_box1 .active {
  display: none;
}

.srp_co1_siteIntroduce2 .srp_co1_si2_room2 .srp_co1_si2_ro2_box1 .srpif2_1 {
  position: absolute;
  top: 0;
  left: 0;
}

.srp_co1_siteIntroduce2 .srp_co1_si2_room2 .srp_co1_si2_ro2_box1 .srpif2_2 {
  position: absolute;
  top: 0;
  left: 0;
}

.srp_co1_siteIntroduce3 {
  border-top: 0.1vw solid;
  padding-top: 3.1vw;
  font-weight: 300;
}

.srp_co1_siteIntroduce3 .srp_co1_si3_room1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.srp_co1_siteIntroduce3 .srp_co1_si3_room1 h1 {
  font-size: 4.2vw;
  font-weight: 100;
  -ms-flex-preferred-size: 9.5%;
      flex-basis: 9.5%;
}

.srp_co1_siteIntroduce3 .srp_co1_si3_room1 h2 {
  font-size: 3.3vw;
  font-weight: 300;
  line-height: 1;
  text-transform: uppercase;
}

.srp_co1_siteIntroduce3 .srp_co1_si3_room1 p {
  font-size: 0.9vw;
  letter-spacing: 0.0vw;
  line-height: 1.46;
  text-align: right;
  margin-left: auto;
}

.srp_co1_siteIntroduce3 .srp_co1_si3_room1 ul {
  margin-left: 1.0vw;
}

.srp_co1_siteIntroduce3 .srp_co1_si3_room1 ul li {
padding: 0.8vw 5.5vw;
  text-align: center;
  margin-bottom: 0.5vw;
}

.srp_co1_siteIntroduce3 .srp_co1_si3_room1 ul li a {
  font-size: 1.0vw;
  font-weight: 300;
  letter-spacing: 0.0vw;
  color: #f5f5f5;
}

.srp_co1_siteIntroduce3 .srp_co1_si3_room1 ul li:nth-child(1) {
  background: #3b69be;
}

.srp_co1_siteIntroduce3 .srp_co1_si3_room1 ul li:nth-child(2) {
  background: #1c1c1c;
}

.srp_co1_siteIntroduce3 .srp_co1_si3_room2 {
  padding: 3.1vw 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.srp_co1_siteIntroduce3 .srp_co1_si3_room2 .srp_co1_si3_ro2_box1 {
  width: 80.9vw;
  height: 40.0vw;
  position: relative;
}

.srp_co1_siteIntroduce3 .srp_co1_si3_room2 .srp_co1_si3_ro2_box1 iframe {
  width: 100%;
  height: 100%;
}

.srp_co1_siteIntroduce3 .srp_co1_si3_room2 .srp_co1_si3_ro2_box1 .active {
  display: none;
}

.srp_co1_siteIntroduce3 .srp_co1_si3_room2 .srp_co1_si3_ro2_box1 .srpif3_1 {
  position: absolute;
  top: 0;
  left: 0;
}

.srp_co1_siteIntroduce3 .srp_co1_si3_room2 .srp_co1_si3_ro2_box1 .srpif3_2 {
  position: absolute;
  top: 0;
  left: 0;
}

.srp_co1_siteIntroduce4 {
  border-top: 0.1vw solid;
  padding-top: 3.1vw;
  font-weight: 300;
}

.srp_co1_siteIntroduce4 .srp_co1_si4_room1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.srp_co1_siteIntroduce4 .srp_co1_si4_room1 h1 {
  font-size: 4.2vw;
  font-weight: 100;
  -ms-flex-preferred-size: 9.5%;
      flex-basis: 9.5%;
}

.srp_co1_siteIntroduce4 .srp_co1_si4_room1 h2 {
  font-size: 3.3vw;
  font-weight: 300;
  line-height: 1;
  text-transform: uppercase;
}

.srp_co1_siteIntroduce4 .srp_co1_si4_room1 p {
  font-size: 0.9vw;
  letter-spacing: 0.0vw;
  line-height: 1.46;
  text-align: right;
  margin-left: auto;
}

.srp_co1_siteIntroduce4 .srp_co1_si4_room1 ul {
  margin-left: 1.0vw;
}

.srp_co1_siteIntroduce4 .srp_co1_si4_room1 ul li {
  padding: 0.8vw 5.5vw;
  text-align: center;
  margin-bottom: 0.5vw;
}

.srp_co1_siteIntroduce4 .srp_co1_si4_room1 ul li a {
  font-size: 1.0vw;
  font-weight: 300;
  letter-spacing: 0.0vw;
  color: #f5f5f5;
}

.srp_co1_siteIntroduce4 .srp_co1_si4_room1 ul li:nth-child(1) {
  background: #3b69be;
}

.srp_co1_siteIntroduce4 .srp_co1_si4_room1 ul li:nth-child(2) {
  background: #1c1c1c;
}

.srp_co1_siteIntroduce4 .srp_co1_si4_room2 {
  padding: 3.1vw 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.srp_co1_siteIntroduce4 .srp_co1_si4_room2 .srp_co1_si4_ro2_box1 {
  width: 80.9vw;
  height: 40.0vw;
  position: relative;
}

.srp_co1_siteIntroduce4 .srp_co1_si4_room2 .srp_co1_si4_ro2_box1 iframe {
  width: 100%;
  height: 100%;
}

.srp_co1_siteIntroduce4 .srp_co1_si4_room2 .srp_co1_si4_ro2_box1 .active {
  display: none;
}

.srp_co1_siteIntroduce4 .srp_co1_si4_room2 .srp_co1_si4_ro2_box1 .srpif4_1 {
  position: absolute;
  top: 0;
  left: 0;
}

.srp_co1_siteIntroduce4 .srp_co1_si4_room2 .srp_co1_si4_ro2_box1 .srpif4_2 {
  position: absolute;
  top: 0;
  left: 0;
}

.srp_co1_siteIntroduce5 {
  border-top: 0.1vw solid;
  padding-top: 3.1vw;
  font-weight: 300;
}

.srp_co1_siteIntroduce5 .srp_co1_si5_room1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.srp_co1_siteIntroduce5 .srp_co1_si5_room1 h1 {
  font-size: 4.2vw;
  font-weight: 100;
  -ms-flex-preferred-size: 9.5%;
      flex-basis: 9.5%;
}

.srp_co1_siteIntroduce5 .srp_co1_si5_room1 h2 {
  font-size: 3.3vw;
  font-weight: 300;
  line-height: 1;
  text-transform: uppercase;
}

.srp_co1_siteIntroduce5 .srp_co1_si5_room1 p {
  font-size: 0.9vw;
  letter-spacing: 0.0vw;
  line-height: 1.46;
  text-align: right;
  margin-left: auto;
}

.srp_co1_siteIntroduce5 .srp_co1_si5_room1 ul {
  margin-left: 1.0vw;
}

.srp_co1_siteIntroduce5 .srp_co1_si5_room1 ul li {
  padding: 0.8vw 5.5vw;
  text-align: center;
  margin-bottom: 0.5vw;
}

.srp_co1_siteIntroduce5 .srp_co1_si5_room1 ul li a {
  font-size: 1.0vw;
  font-weight: 300;
  letter-spacing: 0.0vw;
  color: #f5f5f5;
}

.srp_co1_siteIntroduce5 .srp_co1_si5_room1 ul li:nth-child(1) {
  background: #3b69be;
}

.srp_co1_siteIntroduce5 .srp_co1_si5_room1 ul li:nth-child(2) {
  background: #1c1c1c;
}

.srp_co1_siteIntroduce5 .srp_co1_si5_room2 {
  padding: 3.1vw 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.srp_co1_siteIntroduce5 .srp_co1_si5_room2 .srp_co1_si5_ro2_box1 {
  width: 80.9vw;
  height: 40.0vw;
}

.srp_co1_siteIntroduce5 .srp_co1_si5_room2 .srp_co1_si5_ro2_box1 iframe {
  width: 100%;
  height: 100%;
}

#srp_footer {
  border: 0.1vw solid #000;
}

#srp_footer figure img {
  width: 100%;
}

/*//section4(스크립트_페이지) -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*^^section5(스크립트_패키지<전환>) ---------------------------------------- */
.animationPackages {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1500;
}

.animationPackages .ap_contents {
  position: fixed;
  left: 0%;
  top: 0%;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: url(../img/maincover.jpg) fixed 100% 100%/100% 100%;
}

.animationPackages .ap_contents div {
  width: 28.2vw;
  height: 70vh;
}

.animationPackages .ap_contents div img {
  width: 100%;
}

/*//section5(스크립트_패키지<전환>) --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*^^section6(에니메아션_페이지) ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.animationPages {
  color: #1c1c1c;
}

.ap_header {
  position: relative;
  z-index: 6100;
}

.ap_header figure img {
  width: 100%;
}

.ap_title {
  width: 100%;
  height: 100%;
  background: #f3f3f3;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6000;
}

.ap_title .ap_ti_room1 .ap_circle {
  position: absolute;
  top: 35%;
  left: 71%;
  -webkit-transform: translate(-50%, -50%) scale(30);
          transform: translate(-50%, -50%) scale(30);
  border: 0.1vw solid #1c1c1c;
  width: 3.0vw;
  height: 3.0vw;
  background: #1c1c1c;
  border-radius: 50%;
}

.ap_title .ap_ti_room2 {
  line-height: 950px;
}

.ap_title .ap_ti_room2 .ap_ti_ro2_textwrap {
  width: 100vw;
  height: 20vh;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: Spy_Agency_Expa_nded_Italic;
}

.ap_title .ap_ti_room2 span {
  font-size: 11vw;
  opacity: 1;
}

.ap_title .ap_ti_room2 span:nth-child(1) {
  position: absolute;
  top: 150%;
  left: 10%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.ap_title .ap_ti_room2 span:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 22%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.ap_title .ap_ti_room2 span:nth-child(3) {
  position: absolute;
  top: 150%;
  left: 30%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.ap_title .ap_ti_room2 span:nth-child(4) {
  position: absolute;
  top: 150%;
  left: 38.7%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.ap_title .ap_ti_room2 span:nth-child(5) {
  position: absolute;
  top: 150%;
  left: 52%;
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
          transform: translate(-50%, -50%) rotate(0deg);
}

.ap_title .ap_ti_room2 span:nth-child(6) {
  position: absolute;
  top: 150%;
  left: 62%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.ap_title .ap_ti_room2 span:nth-child(7) {
  position: absolute;
  top: 150%;
  left: 70%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.ap_title .ap_ti_room2 span:nth-child(8) {
  position: absolute;
  top: 150%;
  left: 78.4%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.ap_title .ap_ti_room2 span:nth-child(9) {
  position: absolute;
  top: 150%;
  left: 90%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.ap_title .ap_ti_room2 span:nth-child(10) {
  position: absolute;
  top: 150%;
  left: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: red;
}

/*//section6(에니메이션_페이지) ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*^^section7(에니메이션_컨텐츠 페이지) ---------------------------------------- */
.animationPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
}

.ap_contents {
  width: 100%;
  height: 100%;
  background: url(../img/ap_contentbg.png) center center;
  background-size: cover;
  position: fixed;
  left: 0;
  top: 0;
}

.ap_co_content1 {
  font-family: Spy_Agency_Expa_nded_Italic;
  color: #fff;
  font-size: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.ap_co_content1 .ap_co_co1_text {
  padding-right: 8.3vw;
  text-align: center;
  text-transform: uppercase;
}

.ap_co_content1 .ap_co_co1_imgWarp {
  width: 40vw;
  height: 50vh;
  position: relative;
  color: #ff0457;
}

.ap_co_content1 .ap_co_co1_imgWarp div {
  position: absolute;
  top: 50%;
  left: 50%;
}

.ap_co_content1 .ap_co_co1_imgWarp .ap_img_box1 {
  z-index: 10;
  -webkit-transform: translate(-60%, -50%) rotate(0deg);
          transform: translate(-60%, -50%) rotate(0deg);
}

.ap_co_content1 .ap_co_co1_imgWarp .ap_img_box1 img {
  width: 140vh;
}

.ap_co_content1 .ap_co_co1_imgWarp .ap_img_box2 {
  z-index: 10;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.ap_co_content1 .ap_co_co1_imgWarp .ap_img_box2 img {
  width: 160vh;
}

.ap_co_content1 .ap_co_co1_imgWarp .ap_img_box3 {
  z-index: 9;
  -webkit-transform: translate(-40%, -45%);
          transform: translate(-40%, -45%);
}

.ap_co_content1 .ap_co_co1_imgWarp .ap_img_box3 img {
  width: 200vh;
  opacity: 1;
}

.ap_co_content1 .ap_co_co1_imgWarp .ap_img_box4 {
  z-index: 10;
  -webkit-transform: translate(-45%, -70%);
          transform: translate(-45%, -70%);
}

.ap_co_content1 .ap_co_co1_imgWarp .ap_img_box4 img {
  width: 180vh;
  opacity: 0.7;
}

.ap_co_content1 .ap_co_co1_imgWarp .ap_img_box5 {
  z-index: 8;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50vw;
  height: 60vh;
  overflow: hidden;
}

.ap_co_content1 .ap_co_co1_imgWarp .ap_img_box5 iframe {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.6);
}

.ap_co_content2 {
  font-family: Spy_Agency_Expa_nded_Italic;
  color: #fff;
  font-size: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.ap_co_content2 .ap_co_co2_text {
  padding-right: 8.3vw;
  text-align: center;
  text-transform: uppercase;
}

.ap_co_content2 .ap_co_co2_imgWarp {
  width: 40vw;
  height: 50vh;
  position: relative;
  color: #ff0457;
}

.ap_co_content2 .ap_co_co2_imgWarp div {
  position: absolute;
  top: 50%;
  left: 50%;
}

.ap_co_content2 .ap_co_co2_imgWarp .ap_img_box1 {
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.ap_co_content2 .ap_co_co2_imgWarp .ap_img_box1 img {
  width: 170vh;
}

.ap_co_content2 .ap_co_co2_imgWarp .ap_img_box2 {
  z-index: 10;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.ap_co_content2 .ap_co_co2_imgWarp .ap_img_box2 img {
  width: 170vh;
}

.ap_co_content2 .ap_co_co2_imgWarp .ap_img_box3 {
  z-index: 9;
  -webkit-transform: translate(-200%, -130%);
          transform: translate(-200%, -130%);
}

.ap_co_content2 .ap_co_co2_imgWarp .ap_img_box3 img {
  width: 50vh;
}

.ap_co_content2 .ap_co_co2_imgWarp .ap_img_box4 {
  z-index: 10;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.ap_co_content2 .ap_co_co2_imgWarp .ap_img_box4 img {
  width: 100vh;
}

.ap_co_content2 .ap_co_co2_imgWarp .ap_img_box5 {
  z-index: 8;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50vw;
  height: 60vh;
  overflow: hidden;
}

.ap_co_content2 .ap_co_co2_imgWarp .ap_img_box5 iframe {
  width: 110%;
  height: 110%;
  background-color: rgba(255, 0, 0, 0.6);
}

.ap_co_content3 {
  font-family: Spy_Agency_Expa_nded_Italic;
  color: #fff;
  font-size: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.ap_co_content3 .ap_co_co3_text {
  padding-right: 8.3vw;
  text-align: center;
  text-transform: uppercase;
}

.ap_co_content3 .ap_co_co3_imgWarp {
  width: 40vw;
  height: 50vh;
  position: relative;
  color: #ff0457;
}

.ap_co_content3 .ap_co_co3_imgWarp div {
  position: absolute;
  top: 50%;
  left: 50%;
}

.ap_co_content3 .ap_co_co3_imgWarp .ap_img_box0 {
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.ap_co_content3 .ap_co_co3_imgWarp .ap_img_box0 img {
  width: 150vh;
}

.ap_co_content3 .ap_co_co3_imgWarp .ap_img_box1 {
  z-index: 11;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.ap_co_content3 .ap_co_co3_imgWarp .ap_img_box1 img {
  width: 150vh;
}

.ap_co_content3 .ap_co_co3_imgWarp .ap_img_box2 {
  z-index: 10;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.ap_co_content3 .ap_co_co3_imgWarp .ap_img_box2 img {
  width: 145vh;
}

.ap_co_content3 .ap_co_co3_imgWarp .ap_img_box3 {
  z-index: 9;
  -webkit-transform: translate(-200%, 10%);
          transform: translate(-200%, 10%);
}

.ap_co_content3 .ap_co_co3_imgWarp .ap_img_box3 img {
  width: 50vh;
}

.ap_co_content3 .ap_co_co3_imgWarp .ap_img_box4 {
  z-index: 10;
  -webkit-transform: translate(70%, 10%);
          transform: translate(70%, 10%);
}

.ap_co_content3 .ap_co_co3_imgWarp .ap_img_box4 img {
  width: 50vh;
}

.ap_co_content3 .ap_co_co3_imgWarp .ap_img_box5 {
  z-index: 8;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50vw;
  height: 60vh;
  overflow: hidden;
}

.ap_co_content3 .ap_co_co3_imgWarp .ap_img_box5 iframe {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.6);
}

.ap_co_content4 {
  font-family: Spy_Agency_Expa_nded_Italic;
  color: #fff;
  font-size: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.ap_co_content4 .ap_co_co4_text {
  padding-right: 8.3vw;
  text-align: center;
  text-transform: uppercase;
}

.ap_co_content4 .ap_co_co4_imgWarp {
  width: 40vw;
  height: 50vh;
  position: relative;
  color: #ff0457;
}

.ap_co_content4 .ap_co_co4_imgWarp div {
  position: absolute;
  top: 50%;
  left: 50%;
}

.ap_co_content4 .ap_co_co4_imgWarp .ap_img_box1 {
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.ap_co_content4 .ap_co_co4_imgWarp .ap_img_box1 img {
  width: 130vh;
}

.ap_co_content4 .ap_co_co4_imgWarp .ap_img_box2 {
  z-index: 2;
  -webkit-transform: translate(-60%, -50%);
          transform: translate(-60%, -50%);
}

.ap_co_content4 .ap_co_co4_imgWarp .ap_img_box2 img {
  width: 130vh;
}

.ap_co_content4 .ap_co_co4_imgWarp .ap_img_box3 {
  z-index: 9;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.ap_co_content4 .ap_co_co4_imgWarp .ap_img_box3 img {
  width: 130vh;
}

.ap_co_content4 .ap_co_co4_imgWarp .ap_img_box4 {
  z-index: 10;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.ap_co_content4 .ap_co_co4_imgWarp .ap_img_box4 img {
  width: 200vh;
}

.ap_co_content4 .ap_co_co4_imgWarp .ap_img_box5 {
  z-index: 8;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50vw;
  height: 60vh;
  overflow: hidden;
}

.ap_co_content4 .ap_co_co4_imgWarp .ap_img_box5 iframe {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.6);
}

/*//section7(에니메이션_컨텐츠 페이지) -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*^^section8(소개_컨텐츠 페이지) -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.contactPages {
  width: 100vw;
  height: 100vh;
  background: url(../img/contactcover.jpg);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cp_container {
  width: 90%;
}

.cp_title {
  font-family: NEXON Lv1 Gothic OTF Bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cp_title h1 {
  text-transform: uppercase;
  font-size: 10.4vw;
  border-bottom: 0.1vw solid #f3f3f3;
  display: inline;
}

.cp_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 2.6vw;
}

.cp_text p {
  font-family: NEXON Lv1 Gothic OTF Light;
  font-size: 1.2vw;
  line-height: 1.5;
}

.cp_text span {
  font-family: Nanum Brush Script;
  padding-top: 7.3vw;
  font-size: 1.6vw;
}

.cp_info {
  padding-top: 5.2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 71%;
  margin: 0 auto;
}

.cp_info h3 {
  font-size: 1.3vw;
  padding-bottom: 1.0vw;
}

.cp_info .cp_in_bo_room1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.cp_info .cp_in_bo_room1 a {
  font-size: 0.8vw;
}

.cp_info .cp_in_bo1 {
  color: #fff;
  font-family: NEXON Lv1 Gothic OTF Bold;
}

.cp_info .cp_in_bo1 h3 {
  text-align: center;
}

.cp_info .cp_in_bo1 li {
  line-height: 2.2;
  font-size: 0.8vw;
}

.cp_info .cp_in_bo1 ul:nth-child(2) {
  padding-left: 1.0vw;
  color: #f3f3f3;
  font-family: NEXON Lv1 Gothic OTF Light;
  font-size: 0.8vw;
}

.cp_info .cp_in_bo1 ul:nth-child(2) a {
  color: #fff;
}

.cp_info .cp_in_bo2 h3 {
  text-align: center;
}

.cp_info .cp_in_bo2 li {
  font-family: NEXON Lv1 Gothic OTF Light;
  line-height: 3.5vh;
}

.cp_info .cp_in_bo2 a {
  color: #fff;
  text-transform: uppercase;
}

.cp_info .cp_in_bo2 a:hover {
  color: #9bcf18;
  font-family: NEXON Lv1 Gothic OTF Bold;
}

.cp_info .cp_in_bo2 ul:nth-child(2) {
  padding: 0 1.0vw;
}

.cp_info .cp_in_bo3 h3 {
  text-align: center;
}

.cp_info .cp_in_bo3 img {
  width: 20.8vw;
}

/*//section8(소개_컨텐츠 페이지) -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
#m_Contents {
  display: none;
  height: 600%;
}

#m_Contents #section_M1 {
  position: relative;
  z-index: 5000;
  height: 100%;
  background: #1c1c1c;
}

#m_Contents #section_M2 {
  position: relative;
  z-index: 5000;
  height: 100%;
  background: #1c1c1c;
}

#m_Contents #section_M3 {
  position: relative;
  z-index: 5000;
  height: 100%;
  background: #1c1c1c;
}

#m_Contents #section_M4 {
  position: relative;
  z-index: 5000;
  height: 100%;
  background: #f5f5f5;
}

#m_Contents #section_M5 {
  position: relative;
  z-index: 5000;
  height: 100%;
  background: url(../img/ap_contentbg.png) center center;
  background-size: cover;
}

#m_Contents #section_M6 {
  position: relative;
  z-index: 5000;
  height: 100%;
  background: #17da62;
}

.sip_content1 {
  padding: 0 5.2vw;
  font-family: NEXON Lv1 Gothic OTF Light;
}

.m_mainPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.m_mainPage .m_mp_content1 h1 {
  font-family: spyagency3_2halfital;
  font-size: 15vw;
  font-weight: normal;
  padding-bottom: 3vw;
  color: #f5f5f5;
}

.m_mainPage .m_mp_content2 figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.m_mainPage .m_mp_content2 figure img {
  width: 50%;
}

.m_mainPage .m_mp_content3 {
  width: 90%;
}

.m_mainPage .m_mp_content3 p {
  font-size: 2.6vw;
  line-height: 1.5;
  color: #f5f5f5;
  padding-top: 5.2vh;
  letter-spacing: 0.1vw;
}

.m_mainPage .m_mp_content3 p em {
  display: block;
  padding-bottom: 2vw;
  color: #cfcfcf;
}

.m_mainPage .m_mp_content3 p strong {
  display: block;
  text-align: right;
  font-family: Nanum Brush Script;
  font-size: 3.3vw;
  color: #cac5c5;
}

.m_mainPage .m_mp_content4 {
  color: #fff;
}

.m_mainPage .m_mp_content4 h1 {
  font-family: spyagency3_2halfital;
  font-size: 46vw;
  font-weight: normal;
}

.m_mainSub {
  padding-top: 20vh;
}

.m_mainSub .m_ms_text {
  color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.m_mainSub .m_ms_text h3 {
  font-family: NEXON Lv1 Gothic OTF Light;
  font-size: 6vw;
  font-weight: 300;
  color: #cfcfcf;
}

.m_mainSub .m_ms_text p {
  font-size: 2vw;
  padding-top: 1vh;
}

.m_mainSub .m_ms_text h1 {
  font-family: spyagency3_2halfital;
  font-size: 50vw;
  font-weight: normal;
  padding-bottom: 3vw;
}

.m_mainSub .m_ms_content .ms_co_wrapBox1 {
  position: absolute;
  top: 15%;
  left: 50%;
  -webkit-transform: translate(-30%, -50%);
          transform: translate(-30%, -50%);
}

.m_mainSub .m_ms_content .ms_co_wrapBox1 img {
  width: 120%;
}

.m_mainSub .m_ms_content .ms_co_wrapBox2 {
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-90%, -50%);
          transform: translate(-90%, -50%);
}

.m_mainSub .m_ms_content .ms_co_wrapBox2 img {
  width: 120%;
}

.m_mainSub .m_ms_content .ms_co_wrapBox3 {
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-30%, -50%);
          transform: translate(-30%, -50%);
}

.m_mainSub .m_ms_content .ms_co_wrapBox3 img {
  width: 120%;
}

.m_mainSub .m_ms_content .ms_co_wrapBox4 {
  position: absolute;
  top: 75%;
  left: 50%;
  -webkit-transform: translate(-90%, -50%);
          transform: translate(-90%, -50%);
}

.m_mainSub .m_ms_content .ms_co_wrapBox4 img {
  width: 120%;
}

.m_ap_co_content1 {
  font-family: Spy_Agency_Expa_nded_Italic;
  color: #fff;
  font-size: 5vw;
  padding: 10vh 0;
}

.m_ap_co_content1 .m_ap_co_co1_text {
  padding-right: 8.3vw;
  text-align: center;
  text-transform: uppercase;
  padding: 10vh 0;
}

.m_ap_co_content1 .m_ap_co_co1_imgWarp {
  text-align: center;
}

.m_ap_co_content1 .m_ap_co_co1_imgWarp iframe {
  width: 90vw;
  height: 50vh;
  background-color: rgba(255, 0, 0, 0.6);
}

.m_contactPages {
  width: 100vw;
  height: 100vh;
  background: url(../img/contactcover.jpg);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.m_cp_container {
  width: 90%;
}

.m_cp_title {
  font-family: NEXON Lv1 Gothic OTF Bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.m_cp_title h1 {
  text-transform: uppercase;
  font-size: 14vw;
  border-bottom: 0.1vw solid #f3f3f3;
  display: inline;
}

.m_cp_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 2.6vw;
}

.m_cp_text p {
  font-family: NEXON Lv1 Gothic OTF Light;
  font-size: 2vw;
  line-height: 1.5;
}

.m_cp_text span {
  font-family: Nanum Brush Script;
  padding-top: 10vh;
  font-size: 3vw;
}

.m_cp_info {
  padding-top: 5.2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.m_cp_info h3 {
  font-size: 1.3vw;
  padding-bottom: 1.0vw;
}

.m_cp_info .m_cp_in_bo_room1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.m_cp_info .m_cp_in_bo_room1 a {
  font-size: 0.8vw;
}

.m_cp_info .m_cp_in_bo1 {
  color: #fff;
  font-family: NEXON Lv1 Gothic OTF Bold;
}

.m_cp_info .m_cp_in_bo1 h3 {
  text-align: center;
}

.m_cp_info .m_cp_in_bo1 li {
  line-height: 2vh;
  font-size: 1vw;
}

.m_cp_info .m_cp_in_bo1 ul:nth-child(2) {
  padding-left: 2vw;
  color: #f3f3f3;
  font-family: NEXON Lv1 Gothic OTF Light;
  font-size: 1vw;
}

.m_cp_info .m_cp_in_bo1 ul:nth-child(2) a {
  color: #fff;
}

.m_cp_info .m_cp_in_bo2 h3 {
  text-align: center;
}

.m_cp_info .m_cp_in_bo2 li {
  font-family: NEXON Lv1 Gothic OTF Light;
  line-height: 2vh;
}

.m_cp_info .m_cp_in_bo2 a {
  color: #fff;
  text-transform: uppercase;
  font-size: 1vw;
  line-height: 0.1vh;
}

.m_cp_info .m_cp_in_bo2 a:hover {
  color: #9bcf18;
  font-family: NEXON Lv1 Gothic OTF Bold;
}

.m_cp_info .m_cp_in_bo2 ul:nth-child(2) {
  padding: 0 1.0vw;
}

.m_cp_info .m_cp_in_bo3 h3 {
  text-align: center;
}

.m_cp_info .m_cp_in_bo3 img {
  width: 20.8vw;
}

@media (max-width: 1400px) {
  #section8 .cp_info .cp_in_bo2 li {
    line-height: 2.5vh;
  }
}

@media (max-width: 800px) {
  body {
    height: auto !important;
  }
  #contents {
    display: none;
  }
  #m_Contents {
    display: block;
  }
  .audio {
    top: 3vh;
    right: -6vw;
  }
}
