@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|Nanum+Myeongjo&display=swap&subset=korean');
/* * { font-family: "Nanum Gothic","S-Core", sans-serif; } */

@font-face {
    font-family: 'S-CoreDream-1Thin';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-2ExtraLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }  


/*   
@font-face {
	font-family: 'S-Core';
	font-weight:100;
	src: url('assets/font/S-CoreDream-2ExtraLight.woff') format('woff');
}
@font-face {
	font-family: 'S-Core';
	font-weight:200;
	src: url('assets/font/S-CoreDream-2ExtraLight.woff') format('woff');
}
@font-face {
  font-family: 'S-Core';
  font-weight:300;
  src: url('assets/font/S-CoreDream-3Light.woff') format('woff');
}
@font-face {
	font-family: 'S-Core';
	font-weight:400;
	src: url('assets/font/S-CoreDream-4Regular.woff') format('woff');
}
@font-face {
	font-family: 'S-Core';
	font-weight:500;
	src: url('assets/font/S-CoreDream-5Medium.woff') format('woff');
}
@font-face {
	font-family: 'S-Core';
	font-weight:600;
	src: url('assets/font/S-CoreDream-6Bold.woff') format('woff');
}
@font-face {
	font-family: 'S-Core';
	font-weight:700;
	src: url('assets/font/S-CoreDream-7ExtraBold.woff') format('woff');
}
@font-face {
	font-family: 'S-Core';
	font-weight:800;
	src: url('assets/font/S-CoreDream-8Heavy.woff') format('woff');
}
@font-face {
	font-family: 'S-Core';
	font-weight:900;
	src: url('assets/font/S-CoreDream-9Black.woff') format('woff');
} */