body {
    height: 10000px;
    background: #2f2f2f;
    background-size: 20px 20px;
    background-image: repeating-radial-gradient( #E4DEC9 0px, #2f2f2f 2px, #2f2f2f 48px);
}



/* nav */
#nav {
    position: fixed;
    left: 20px;
    top: 20px;
    border: 2px solid #E4DEC9;
    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(30px);
    border-radius: 200px;
    width: calc(100% - 40px);
    overflow: hidden;
    padding: 0 40px 0 100px;
    box-sizing: border-box;
    white-space: nowrap;
    z-index: 100;
}
#nav ul {
    text-align: center;
}
#nav li {
    display: inline-block;
    padding: 0 10px;
}
#nav li a {
    font-family: 'Libre Barcode 128 Text', cursive;
    color: #E4DEC9;
    font-size: 70px;
    text-transform: uppercase;
}
/* scroll */
.scroll {
    position: fixed;
    left: 30px;
    top: 30px;
    color: #E4DEC9;
    font-family: "LABDigital";
    font-size: 30px;
    z-index: 101;
    border: 2px solid #E4DEC9;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
}

/* section1 */
.sec1 {
    width: 100%;
    overflow: hidden;
    padding-top: 140px;
}
.sec1 h1 {
    font-family: "LABDigital";
    color: #E4DEC9;
    font-size: 23.6vw;
    line-height: .81;
    white-space: nowrap;
    overflow: hidden;
}

/* title */
.title {
    border: 2px solid #E4DEC9;
    background: #000;
    border-radius: 200px;
    width: calc(100% - 40px);
    overflow: hidden;
    padding: 0 40px;
    box-sizing: border-box;
    white-space: nowrap;
    margin: 20px;
}
.title.bg {
    border: 2px solid #000;
    background: #E4DEC9;
}
.title.bg span {
    color: #000;
}
.title span {
    font-family: 'LABDigital', cursive;
    color: #E4DEC9;
    font-size: 70px;
    text-transform: uppercase;
    display: inline-block;
}

.marquee {
    --space: 4vw;
    font-size: 15vw;
    white-space: nowrap;
    animation: marquee 20s infinite linear;
    padding-left: var(--space);
}
.marquee:after {
    content: attr(data-text);
    padding-left: var(--space);
}

@keyframes marquee {
    0% {transform: translateX(0);}
    100% {transform: translateX(-50%);}
}



@media (max-width: 800px){
    .sec1 {
        padding-top: 95px;
    }
    #nav {
        padding: 0 40px 0 55px;
    }
    #nav li a {
        font-size: 40px;
    }
    .scroll {
        width: 40px; height: 40px;
        line-height: 37px;
        font-size: 18px;
    }
    .title span {
        font-size: 40px;
    }
}

/* about */
.about {
    margin: 20px;
    display: flex;
    background: red;
    border: 2px solid #E4DEC9;
    background: #000;
}
.about .left {
    width: 40%;
    padding: 2%;
    border-right: 2px solid #E4DEC9;
    position: relative;
    overflow: hidden;
}
.about .left .circle1 {
    position: absolute;
    left: 6vw; top: 5vw;
    width: 13vw;
    height: 13vw;
    border-radius: 50%;
    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(30px);
    border: 2px solid #E4DEC9;
    z-index: 10;
}
.about .left .circle2 {
    position: absolute;
    left: 8vw; top: 7vw;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(30px);
    border: 2px solid #E4DEC9;
    z-index: 20;
}
.about .left .circle3 {
    position: absolute;
    left: 18vw; top: 5vw;
    width: 13vw;
    height: 13vw;
    border-radius: 50%;
    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(30px);
    border: 2px solid #E4DEC9;
    z-index: 10;
}


.about .left .box {
    display: flex;
    align-items: center;
    text-align: center;
    border: 2px solid #E4DEC9;
}
.about .left .box span {}
.about .left .box span:nth-child(1) {width: 10%;}
.about .left .box span:nth-child(2) {
    background: #E4DEC9;
    color: #000;
    width: 80%;
    font-family: 'BeanPole';
    font-size: 3vw;
}
.about .left .box span:nth-child(3) {width: 10%;}



.about .right {
    width: 60%;
}
.about .right .tit {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'LABDigital', cursive;
    color: #E4DEC9;
    font-size: 4vw;
    border-bottom: 2px solid #E4DEC9;
    width: 100%;
    white-space: nowrap;
}
.about .right .tit > div {
    text-align: center;
    border-right: 2px solid #E4DEC9;
    padding: 0 2vw;
}
.about .right .tit > div:last-child {
    border-right: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.about .right .tit img {
    width: 3.5vw;
}
.about .right .desc {
    padding: 3vw;
    font-family: 'BeanPole';
    color: #E4DEC9;
    font-size: 3vw;
    line-height: 1.2;
    text-align: justify;
}


@media (max-width: 800px){ 
    .about {
        flex-direction: column;
    }
    .about .left {
        width: 100%;
        border-right: 0;
    }
    .about .right {
        border-top: 2px solid #E4DEC9;
        width: 100%;
    }
    .about .right .desc {
        font-size: 30px;
    }

}


/* sec3 */
#section3 {
    background-color: #E4DEC9;
    margin: 20px;
    border-radius: 20px;
    padding: 20px;
    margin-top: 40px;
}
.sec3 {
    margin-top: 10px;
}
.sec3 h1 {
    font-family: "LABDigital";
    color: #000;
    font-size: 23.2vw;
    line-height: .81;
    white-space: nowrap;
    overflow: hidden;
}
.sec3 .title {
    margin-top: 20px;

}

/* sec4 */
#section4 {
    margin: 20px;
    margin-top: 400px;
    border-radius: 20px;
}

.grid_box {
    border: 2px solid #E4DEC9;
    border-right: 0;
    border-bottom: 0;
    box-sizing: border-box;
    background: #000;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: repeat(4, 11vw);
}
.grid_box > div {
    border-right: 2px solid #E4DEC9;
    border-bottom: 2px solid #E4DEC9;
    box-sizing: border-box;
}

.grid_box.grid0 {
    grid-template-areas: 
        "box1 box2 box2 box2 box5"
        "box6 box7 box8 box9 box9"
        "box11 box12 box13 box9 box9"
        "box16 box17 box18 box9 box9"
    ;
}
.grid_box.grid0 > div:nth-child(1) {grid-area : box1}
.grid_box.grid0 > div:nth-child(2) {grid-area : box2; }
.grid_box.grid0 > div:nth-child(3) {grid-area : box3; }
.grid_box.grid0 > div:nth-child(4) {grid-area : box4; }
.grid_box.grid0 > div:nth-child(5) {grid-area : box5; }
.grid_box.grid0 > div:nth-child(6) {grid-area : box6; }
.grid_box.grid0 > div:nth-child(7) {grid-area : box7; }
.grid_box.grid0 > div:nth-child(8) {grid-area : box8; }
.grid_box.grid0 > div:nth-child(9) {grid-area : box9; }
.grid_box.grid0 > div:nth-child(10) {grid-area : box10}
.grid_box.grid0 > div:nth-child(11) {grid-area : box11}
.grid_box.grid0 > div:nth-child(12) {grid-area : box12}
.grid_box.grid0 > div:nth-child(13) {grid-area : box13}
.grid_box.grid0 > div:nth-child(14) {grid-area : box14}
.grid_box.grid0 > div:nth-child(15) {grid-area : box15}
.grid_box.grid0 > div:nth-child(16) {grid-area : box16}
.grid_box.grid0 > div:nth-child(17) {grid-area : box17}
.grid_box.grid0 > div:nth-child(18) {grid-area : box18}
.grid_box.grid0 > div:nth-child(19) {grid-area : box19}
.grid_box.grid0 > div:nth-child(20) {grid-area : box20}


.grid_box.grid1 {
    grid-template-areas: 
        "box1 box1 box1 box2 box2"
        "box6 box7 box8 box2 box2"
        "box11 box12 box12 box2 box2"
        "box16 box12 box12 box2 box2"
    ;
}
.grid_box.grid1 > div:nth-child(1) {grid-area : box1}
.grid_box.grid1 > div:nth-child(2) {grid-area : box2; }
.grid_box.grid1 > div:nth-child(3) {grid-area : box3; }
.grid_box.grid1 > div:nth-child(4) {grid-area : box4; }
.grid_box.grid1 > div:nth-child(5) {grid-area : box5; }
.grid_box.grid1 > div:nth-child(6) {grid-area : box6; }
.grid_box.grid1 > div:nth-child(7) {grid-area : box7; }
.grid_box.grid1 > div:nth-child(8) {grid-area : box8; }
.grid_box.grid1 > div:nth-child(9) {grid-area : box9; }
.grid_box.grid1 > div:nth-child(10) {grid-area : box10}
.grid_box.grid1 > div:nth-child(11) {grid-area : box11}
.grid_box.grid1 > div:nth-child(12) {grid-area : box12}
.grid_box.grid1 > div:nth-child(13) {grid-area : box13}
.grid_box.grid1 > div:nth-child(14) {grid-area : box14}
.grid_box.grid1 > div:nth-child(15) {grid-area : box15}
.grid_box.grid1 > div:nth-child(16) {grid-area : box16}
.grid_box.grid1 > div:nth-child(17) {grid-area : box17}
.grid_box.grid1 > div:nth-child(18) {grid-area : box18}
.grid_box.grid1 > div:nth-child(19) {grid-area : box19}
.grid_box.grid1 > div:nth-child(20) {grid-area : box20}


.grid_box.grid2 {
    grid-template-areas: 
        "box1 box1 box3 box3 box3"
        "box1 box1 box8 box9 box9"
        "box1 box1 box13 box9 box9"
        "box1 box1 box18 box19 box20"
    ;
}
.grid_box.grid2 > div:nth-child(1)  {grid-area : box1}
.grid_box.grid2 > div:nth-child(2)  {grid-area : box2; }
.grid_box.grid2 > div:nth-child(3)  {grid-area : box3; }
.grid_box.grid2 > div:nth-child(4)  {grid-area : box4; }
.grid_box.grid2 > div:nth-child(5)  {grid-area : box5; }
.grid_box.grid2 > div:nth-child(6)  {grid-area : box6; }
.grid_box.grid2 > div:nth-child(7)  {grid-area : box7; }
.grid_box.grid2 > div:nth-child(8)  {grid-area : box8; }
.grid_box.grid2 > div:nth-child(9)  {grid-area : box9; }
.grid_box.grid2 > div:nth-child(10) {grid-area : box10}
.grid_box.grid2 > div:nth-child(11) {grid-area : box11}
.grid_box.grid2 > div:nth-child(12) {grid-area : box12}
.grid_box.grid2 > div:nth-child(13) {grid-area : box13}
.grid_box.grid2 > div:nth-child(14) {grid-area : box14}
.grid_box.grid2 > div:nth-child(15) {grid-area : box15}
.grid_box.grid2 > div:nth-child(16) {grid-area : box16}
.grid_box.grid2 > div:nth-child(17) {grid-area : box17}
.grid_box.grid2 > div:nth-child(18) {grid-area : box18}
.grid_box.grid2 > div:nth-child(19) {grid-area : box19}
.grid_box.grid2 > div:nth-child(20) {grid-area : box20}


.grid_box .tit {
    font-family: "LABDigital";
    color: #E4DEC9;
    font-size: 10vw;
    line-height: 1;
    white-space: nowrap;
    padding-left: 1vw;
    display: flex;
    align-items: center;
    justify-content: start;
}
.grid_box .tits {
    border-left: 8px solid #E4DEC9;
    padding-left: 8px;
    transition: all 0.3s;
    color: #E4DEC9
}
.grid_box .tits:hover {
    border-left-width: 16px;
}
.grid_box .tits span:first-child{
    font-size: 3vw;
    font-family: 'BeanPole';
    padding-left: 10px;
}
.grid_box .tits span:last-child{
    font-size: 1.4vw;
    padding: 10px;
    display: block;
    font-family: 'BeanPole';
}

.grid_box .num span {
    border: 2px solid #E4DEC9;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    display: inline-block;
    margin: 10px;
    color: #E4DEC9;
    font-size: 2vw;
    font-family: 'BeanPole';
}
.grid_box .iframe iframe { 
    width: 100%;
    height: 100%;
}
.grid_box .desc {
    font-size: 1.4vw;
    padding: 10px;
    display: block;
    font-family: 'BeanPole';
    color: #E4DEC9;
}
.grid_box .over {
    overflow-y: scroll;
}
.grid_box .center {
    justify-content: center;
}
.grid_box .three {
    position: relative;
    overflow: hidden;
}
#webgl-canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}