/* section1 */
#section1 {
    background: #D6D6D6;
    transition: background 0.3s 1.6s;
    width: 100%;
    height: 100vh;
    overflow: clip;
    display: grid;
    grid-template-areas: 
        "box1 box2 box3 box4"
        "box5 box6 box7 box7"
        "box9 box10 box11 box11"
        "box13 box10 box15 box16"
    ;
    grid-template-columns: repeat(4, 1fr) ;
    grid-template-rows: repeat(4, 25vh);
    gap: 1px;
    box-sizing: border-box;
}
#section1 > div {background: #fff; position: relative;}
#section1 > div:nth-child(1)  {grid-area: box1; }
#section1 > div:nth-child(2)  {grid-area: box2; }
#section1 > div:nth-child(3)  {grid-area: box3; }
#section1 > div:nth-child(4)  {grid-area: box4; }
#section1 > div:nth-child(5)  {grid-area: box5; }
#section1 > div:nth-child(6)  {grid-area: box6; }
#section1 > div:nth-child(7)  {grid-area: box7; } 
#section1 > div:nth-child(8)  {grid-area: box8; display: none;}
#section1 > div:nth-child(9)  {grid-area: box9; }
#section1 > div:nth-child(10) {grid-area: box10;}
#section1 > div:nth-child(11) {grid-area: box11;}
#section1 > div:nth-child(12) {grid-area: box12; display: none;}
#section1 > div:nth-child(13) {grid-area: box13;}
#section1 > div:nth-child(14) {grid-area: box14; display: none;}
#section1 > div:nth-child(15) {grid-area: box15;}
#section1 > div:nth-child(16) {grid-area: box16;}

#contents .b_black {
    background: #000;
    color: #fff;
}
#contents .b_white {
    background: #fff;
    color: #000;
}
#contents .p_bl {
    display: flex;
    align-items: end;
}
#contents > #section1.active {
    background: #000;
}
#contents > section > .active {
    position: relative;
}
#contents > section > .active::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #000;
    animation: width 0.3s ease-in-out;
}
@keyframes width {
    0%   {width: 0%;}
    100% {width: 100%;}
}


#contents h1 {
    font-size: 8vw;
    line-height: 1;
    font-family: "Gilroy Semi-Bold";
    text-transform: uppercase;
}
#contents h2 {
    font-size: 40px;
    line-height: 1;
    font-family: "Gilroy";
    text-transform: uppercase;
}
#contents p {
    font-family: 'ChosunNm';
    line-height: 1.4;
}
#contents .p10 {
    padding: 10px;
    box-sizing: border-box;
}
#contents .p20 {
    padding: 20px;
    box-sizing: border-box;
}
#contents .p30 {
    padding: 30px;
    box-sizing: border-box;
}
#contents .link_wrap {
    position: absolute;
    left: 10px;
    bottom: 10px;
}
#contents .link_wrap a {
    display: inline-block;
    width: 30px; height: 30px;
    text-align: center;
    line-height: 28px;
    border-radius: 50%;
    border: 1px solid #000;
}
#contents .lh6 {
    line-height: 0.65;
}
#contents .lh1 {
    line-height: 1;
}


@media (max-height: 500px){
    #section1 {
        display: none;
    }
}

@media (max-width: 800px ){
    #section1 {
        grid-template-areas: 
            "box1 box1 box3 box3"
            "box6 box6 box7 box7"
            "box9 box9 box11 box11"
            "box13 box13 box15 box15"
        ;
    }
    #section1 > div:nth-child(1)  {grid-area: box1; }
    #section1 > div:nth-child(2)  {grid-area: box2; display: none;}
    #section1 > div:nth-child(3)  {grid-area: box3; }
    #section1 > div:nth-child(4)  {grid-area: box4; display: none;}
    #section1 > div:nth-child(5)  {grid-area: box5; display: none;}
    #section1 > div:nth-child(6)  {grid-area: box6; }
    #section1 > div:nth-child(7)  {grid-area: box7; } 
    #section1 > div:nth-child(8)  {grid-area: box8; display: none;}
    #section1 > div:nth-child(9)  {grid-area: box9; }
    #section1 > div:nth-child(10) {grid-area: box10; display: none;}
    #section1 > div:nth-child(11) {grid-area: box11;}
    #section1 > div:nth-child(12) {grid-area: box12; display: none;}
    #section1 > div:nth-child(13) {grid-area: box13;}
    #section1 > div:nth-child(14) {grid-area: box14; display: none;}
    #section1 > div:nth-child(15) {grid-area: box15;}
    #section1 > div:nth-child(16) {grid-area: box16; display: none;}
    #contents h2 {
        font-size: 26px;
    }
    #contents p {
        font-size: 14px;
    }
}