
/* 미디어쿼리 */
@media (max-width: 1290px){
    /* section1 */
    .section1 h3.tit{font-size: 14px;}
    .section1 .sec1 .box1 .box1_2 .txt_wrap{padding: 9%;font-size: 15px;line-height:1.8em}
    .section1 .sec1 .box3 .box3_1{padding: 30% 10% 15% 38%;}
    .section1 .sec1 .box3 .box3_1 .txt_wrap dt{font-size: 16px;}
    .section1 .sec1 .box3 .box3_1 .txt_wrap dd{font-size: 14px;}
    .section1 .sec1 .box3 .box3_2 .btn_wrap{padding: 7% 9% 0;font-size: 15px;}
    .section1 .sec1 .box3 .box3_2 .txt_wrap{font-size: 15px;line-height: 1.8em;padding: 5% 9%;}

    /* section2 */
    .section2 .skill li canvas{width: 180px!important;height: 180px!important;}
    /* section3 */
    .section3 .sec .con .txt_wrap .site_tit{font-size: 45px;}
    .section3 .sec2 .con .box3 .txt_wrap .site_tit{font-size: 33px;}
    .section3 .sec .con .txt_wrap p{font-size: 15px;}
    .section3 .code_tab_container{margin-top: 10%;}
    .section3 a.code_tab{font-size: 10px;}
    .section3 .sec .con .siteview button{font-size: 12px;}
    
}

@media (max-width: 1024px){
    /* section1 */
    .section1 h3.tit{font-size: 12px;}
    .section1 .sec1 .box1 .box1_2 .txt_wrap{font-size: 12px;}
    .section1 .sec1 .box3 .box3_1 .txt_wrap dt{font-size: 14px;}
    .section1 .sec1 .box3 .box3_1 .txt_wrap dd{font-size: 12px;}
    .section1 .sec1 .box3 .box3_2 .btn_wrap{padding: 7% 19% 0; font-size: 13px;}
    .section1 .sec1 .box3 .box3_2 .btn_wrap a:nth-child(2n){margin-left: 10%;}
    .section1 .sec1 .box3 .box3_2 .txt_wrap{font-size: 12px;}

    /* section2 */
    .section2 .skill_wrap{padding: 5% 0 0;}
    .section2 .skill li canvas{width: 160px!important;height: 160px!important;}
    .section2 .skill li{height: 250px;}
    .section2 .skill li a strong{font-size: 40px;}
    .section2 .skill li a span{font-size: 12px;}
    .section2 .skill_wrap .con_wrap{padding-bottom: 5%;}
    .section2 .skill_wrap .con_wrap .txt_wrap .tit{font-size: 16px;}
    .section2 .skill_wrap .con_wrap .txt_wrap p{font-size: 12px;}
    
    /* section3 */
    .section3 .sec .con h3.tit{font-size: 13px;}
    .section3 .sec .con .txt_wrap .site_tit{font-size: 40px;}
    .section3 .sec2 .con .box3 .txt_wrap .site_tit{font-size: 30px;}


    .section7 .sec1 h3{font-size: 14px;}
    .section7 .sec1 .box1 .box1_2 .txt_wrap{font-size: 20px;height: 350px;}
    

}
@media (max-width: 960px){

    /* section2 */
    .section2 h2{line-height: 1.8;}
    .section2 .skill li canvas{width: 140px!important;height: 140px!important;}
    .section2 .skill_wrap .con_wrap .txt_wrap .tit{font-size: 18px;}
    .section2 .skill_wrap .con_wrap .txt_wrap p{font-size: 13px;}

    /* section3 */
    .section3 h2{line-height: 1.8;}
    .section3 .sec .con .txt_wrap .site_tit{font-size: 33px;}
    .section3 .sec2 .con .box3 .txt_wrap .site_tit{font-size: 25px;}
    .section3 .sec .con .txt_wrap p{font-size: 13px;}
    .section3 a.code_tab{font-size: 8px;width: 46%;}
    .section3 .sec .con .siteview{width: 40%;}

    /* section4*/
    .section4 .css_insta_container{padding: 0 6%;padding-bottom: 20%;}
    .section4 .css_insta_container .insta_frame{width: 90%;}
    .section4 .insta_content_container .css_content .iframe_wrap{height: 30vw;}
    .section4 .css_insta_container .insta_header{height: 24px;font-size: 16px;}
    .section4 .css_insta_container .insta_header .insta_tit{line-height: 17px;}
    .section4 .css_insta_container .insta_header .insta_icon{width: 18px;height: 18px;}
    .section4 .insta_content_container .css_content .insta_profile{width: 30px;height: 30px;}
    .section4 .insta_content_container .css_content .tit_num{line-height: 30px;font-size: 17px;}
    .section4 .insta_content_container .css_content .css_button_wrap{height: 30px;line-height: 30px;}
    .section4 .insta_content_container .css_content .css_button .button_icon{width: 15px;}
    .section4 .insta_content_container .css_content .css_button .button_text{font-size: 12px;}
    .section4 .insta_content_container .css_content .css_tit{font-size: 18px;}
    .section4 .insta_content_container .css_content .css_dec{font-size: 12px;padding-bottom: 30px;}
    
    /* section6 */
    .section6 .js_contents .row1 .column1 .tit_num{font-size: 14px;}
    .section6 .js_contents .row1 .column1 .tit{font-size: 14px;}
    .section6 .js_contents .row1 .dec{font-size: 13px;}
    .section6 .js_contents .row3{font-size: 14px;}

    /*section7  */
    .section7 h2{line-height: 1.8;}
    .section7 .sec1 h3{font-size: 12px;}
    .section7 .sec1 .box1 .box1_2 .txt_wrap{font-size: 17px;height: 300px;}
    .section7 .sec1 .box3 .contact_container span{font-size: 13px;}
    .section7 .sec1 .box3 .contact_container input{height: 40px;}
}
@media (max-width: 768px){
    .scroll{display: none;}
    /* heacer */
    .header_title_move{font-size: 13vw;}

    /* section1 */
    .section1 .sec1{display: block;}
    .section1 h3.tit{font-size: 15px;}

    .section1 .sec1 .box1{border-right: none;}
    .section1 .sec1 .box1 .box1_1 ul li{height: 30vw;font-size: 15vw;}
    .section1 .sec1 .box1 .box1_1 ul li:first-child{border-bottom: none;}
    .section1 .sec1 .box1 .box1_1 ul li:nth-child(2){display: none;}
    .section1 .sec1 .box1 .box1_1 ul li:nth-child(3){display: none;}
    .section1 .sec1 .box1 .box1_1 ul li:last-child{border: none;}
    .section1 .sec1 .box1 .box1_2{padding-bottom: 0;}
    .section1 .sec1 .box1 .box1_2 .txt_wrap{font-size: 15px;}
    .section1 .sec1 .box1 .box1_2 .icon_wrap > div{height: 13vw;}

    .section1 .sec1 .box2{display: none;}

    .section1 .sec1 .box3{border-left: none;}
    .section1 .sec1 .box3 .box3_1{padding: 12% 8% 12% 46%;position: relative;height: 100%;}
    .section1 .sec1 .box3 .box3_1 > h3{font-size: 5vw;transform: initial;top: 50%;transform: translateY(-50%);left: 5%;}
    .section1 .sec1 .box3 .box3_1 .txt_wrap dt{font-size: 17px;display: inline;}
    .section1 .sec1 .box3 .box3_1 .txt_wrap dd{font-size: 15px;display: inline;}
    .section1 .sec1 .box3 .box3_2 .txt_wrap{font-size: 15px;}
    .section1 .sec1 .box3 .box3_2 .btn_wrap{font-size: 15px;}
    .section1 .sec1 .box3 .box3_2 .btn_wrap a{padding: 3% 8%;}
    .section1 .sec1 .box3 .box3_2 .btn_wrap a:nth-child(2n){margin-left: 0;}

    /* section2 */
    .section2 .skill ul{flex-wrap: wrap;}
    .section2 .skill li{height: 200px;width:calc(92%/3);}
    .section2 .skill li:nth-child(4){width:calc(92%/2);}
    .section2 .skill li:nth-child(5){width:calc(92%/2);}
    .section2 .skill li canvas{width: 160px!important;height: 160px!important;}
    .section2 .skill li a strong{font-size: 25px;}
    .section2 .skill li a span{font-size: 10px;}
    .section2 .skill_wrap .con_wrap .txt_wrap .tit{font-size: 16px;}
    .section2 .skill_wrap .con_wrap .txt_wrap p{font-size: 11px;}

    /* section3 */
    .section3 .sec .con {flex-direction: column-reverse;display: flex;}
    .section3 .sec .con .box1{width: 100%;border-top:1px solid #fff;}
    .section3 .sec .con .box_container {display: flex;width: 100%;}
    .section3 .sec .con .box_container .box2{width: 80%;height: 80vw;border: none;}
    .section3 .sec .con .box_container .box3{width: 20%;height: 80vw;border-left: 1px solid #fff;}
    .section3 .secEven .con{flex-direction: column;display: flex;}
    .section3 .code_view .con .box_container{display: flex;width: 100%;}
    .section3 .secEven .con .box_container .box1{border-top: none;border-right: 1px solid #fff;width: 20%;height: 80vw;}
    .section3 .secEven .con .box3{width: 100%;border-top: 1px solid #fff;}
    .section3 .sec .con .box2 .img_wrap{padding: 25% 15% 15% 15%;}
    .section3 .sec .con .txt_wrap .site_tit{font-size: 60px;}
    .section3 .sec .con .txt_wrap p{font-size: 17px;}

    /* section4 */
    .section4 .move{font-size: 3vw;}
    .section4 .css_insta_container{display: block;padding: 0 10%;}
    .section4 .css_insta_container .insta_frame{width: 100%;}
    .section4 .css_insta_container .floating_left{width: 80%;margin: 0 auto;}
    .section4 .css_insta_container .insta_frame_2{margin-top: 30%;}
    .section4 .css_insta_container .floating_right{width: 80%;margin: 0 auto;}
    .section4 .css_insta_container .insta_frame_3{margin-top: 30%;}
    .section4 .css_insta_container .insta_frame_4{margin: 30% 0;}
    .section4 .insta_content_container .css_content .iframe_wrap{height: 47vw;}
    .section4 .insta_content_container .css_content .tit_num{font-size: 22px;}
    .section4 .insta_content_container .css_content .css_button .button_text{font-size: 15px;}
    .section4 .insta_content_container .css_content .css_tit{font-size: 20px;}
    .section4 .insta_content_container .css_content .css_dec{font-size: 15px;}

    /* section6 */
    .section6 .js_contents .row1 .column1 .tit_num{font-size: 14px;}
    .section6 .js_contents .row1 .column1 .tit{font-size: 14px;}
    .section6 .js_contents .row1 .dec{font-size: 14px;}
    .section6 .js_contents .row3{font-size: 14px;}
    .section6 .js_contents .row2{height: 50vw;}
    .section6 .js_contents .con1{width: 60%;margin-left: 0;}
    .section6 .js_contents .con1_container{justify-content: center;}
    .section6 .js_contents .con1_container .img_wrap{display: none;}
    .result {height: 20vw;}
    .section6 .js_contents .con2{width: 60%;margin-right: 0;}
    .section6 .js_contents .con2_container{justify-content: center;}
    .section6 .js_contents .con2_container .img_wrap{display: none;}

    /* section7 */
    .section7 .sec1 .box1 .box1_2 .txt_wrap{font-size: 14px;height: 270px;}
    .section7 .sec1 .box3 .contact_container span{font-size: 13px;}
    .section7 .sec1 .box3 .contact_container input{height: 30px;}
    .section7 .sec1 .box3 .contact_container .submit{height: 30px;margin-top: 10px;}

    /* footer */
    .footer_title_move{font-size: 13vw;}
    .section7 .sec1{display: block;}
    .section7 h3.tit{font-size: 15px;}

    .section7 .sec1 .box1{border-right: none;}
    .section7 .sec1 .box1 .box1_1 ul li{height: 30vw;font-size: 15vw;}
    .section7 .sec1 .box1 .box1_1 ul li:first-child{border-bottom: none;}
    .section7 .sec1 .box1 .box1_1 ul li:nth-child(2){display: none;}
    .section7 .sec1 .box1 .box1_1 ul li:nth-child(3){display: none;}
    .section7 .sec1 .box1 .box1_1 ul li:last-child{border: none;}
    .section7 .sec1 .box1 .box1_2{padding-bottom: 0;border-bottom: 1px solid #fff;}
    .section7 .sec1 .box1 .box1_2 .txt_wrap{font-size: 19px;}
    .section7 .sec1 .box1 .box1_2 .icon_wrap > div{height: 13vw;}

    .section7 .sec1 .box2{display: none;}
    .section7 .sec1 .box3{border-left: none;padding-bottom: 10%;}
    .section7 .sec1 .box3 > h3{font-size: 8vw;padding: 0 10%;}
    .section7 .sec1 .box3 > h3 em{display: inline;}
    .section7 .sec1 .box3 .contact_container{padding: 0 10%;}
    .section7 .sec1 .box3 .contact_container .submit{height: 40px;}
}
@media (max-width: 600px){
    /* header */
    .header nav ul li a{padding: 1.5vw;}
    
    /* section1 */
    .section1 .sec1 .box3 .box3_2 .btn_wrap{padding: 7% 10% 0;}

    /* section2 */
    .section2 h2{line-height: 2;}
    .section2 .skill li canvas{width: 135px!important;height: 135px!important;}
    .section2 .skill li a strong{font-size: 15px;}
    .section2 .skill li a span{font-size: 10px;}
    .section2 .skill_wrap .con_wrap .txt_wrap .tit{font-size: 16px;}
    .section2 .skill_wrap .con_wrap .txt_wrap p{font-size: 12px;}
    .section2 .skill_wrap .con_wrap li{flex: initial;}

    /* section3 */
    .section3 h2{line-height: 2;}
    /* section6 */
    .section6 .js_contents .row1 .column1 .tit_num{font-size: 12px;}
    .section6 .js_contents .row1 .column1 .tit{font-size: 12px;}
    .section6 .js_contents .row1 .dec{font-size: 12px;}
    .section6 .js_contents .row3{font-size: 12px;}
    /* section7 */
    .section7 h2{line-height: 2;}
    /* footer */
    .footer nav ul li a{padding: 1.5vw;}

}
    
@media (max-width: 480px){
    /* header */
    .header{justify-content:flex-end;top: -4px;}
    .header h1{display: none;}
    .header nav ul li a{padding: 0vw 0.5vw;}
    .header_title_move{font-size: 20vw;}

    /* section1 */
    .section1 h3.tit{font-size: 13px;}
    .section1 .sec1 .box1 .box1_1 ul li{height: 40vw;font-size: 20vw;}
    .section1 .sec1 .box1 .box1_2 .icon_wrap > div{height: 20vw;}
    .section1 .sec1 .box1 .box1_2 .txt_wrap{font-size: 13px;}
    .section1 .sec1 .box3 .box3_1 > h3{font-size: 6vw;}
    .section1 .sec1 .box3 .box3_1 .txt_wrap dd{font-size: 14px;}
    .section1 .sec1 .box3 .box3_1 .txt_wrap dt{font-size: 12px;}
    .section1 .sec1 .box3 .box3_2 .btn_wrap{font-size: 11px;padding:7% 8% 0;}
    .section1 .sec1 .box3 .box3_2 .txt_wrap{font-size: 13px;}
    
    /* section2 */
    .section2 .skill li{height: 180px;}
    .section2 .skill li a strong{font-size: 20px;}
    .section2 .skill li a span{font-size: 10px;}
    .section2 .skill li{width: 50%;}
    .section2 .skill li:nth-child(5){margin: 0 auto;}
    .section2 .skill_wrap .con_wrap .txt_wrap .tit{font-size: 15px;}
    
    /* section3 */
    .section3 .sec .con .txt_wrap .site_tit{font-size: 45px;}
    .section3 .sec .con .txt_wrap p{font-size: 14px;}
    .section3 .sec .con .tit_number span{font-size: 75px;}
    .section3 .secOdd .con .box2{height: 100vw;}
    .section3 .secOdd .con .box3{height: 100vw;}
    .section3 .secEven .con .box1{height: 100vw;}
    .section3 .secEven .con .box2{height: 100vw;}
    .section3 .secEven .con .box3 .txt_wrap .site_tit{font-size: 34px;}

    /* .section3 .sec4 .con .box3 .txt_wrap .site_tit{font-size: 34px;} */
    
    /* section4 */
    .section4 .section4_bg{margin-top: -15vw;}
    .section4 .move{font-size: 5vw;}
    .section4 .css_insta_container{padding: 0;}
    .section4 .css_insta_container .insta_content_container .css_content{margin: 0;width: 90%;margin: 0 auto;overflow: hidden;}
    .section4 .insta_content_container .css_content .iframe_wrap{height: 70vw;}
    .section4 .insta_content_container .insta_scroll{display: none;}

    /* section6 */
    .section6 .js_contents .con1{width: 70%;}
    .section6 .js_contents .con2{width: 70%;}
    .section6 .js_contents .row1 .column1 .tit_num{font-size: 11px;padding-left: 3px;}
    .section6 .js_contents .row1 .column1 .tit{font-size: 11px;padding-left: 3px;}
    .section6 .js_contents .row1 .dec{font-size: 11px;}
    .section6 .js_contents .row3{font-size: 11px;}
    
    /* section7 */
    .section7 .sec1 .box1 .box1_1 ul li{height: 35vw;font-size: 18vw;}
    .section7 .sec1 .box1 .box1_2 .txt_wrap{font-size: 16px;}
    .section7 .sec1 .box3 > h3{font-size: 10vw;}
    
    /* footer */
    .footer_title_move{font-size: 20vw;}
    .footer{justify-content:flex-end;top: -4px;}
    .footer h1{display: none;}
    .footer nav ul li a{padding: 0vw 0.5vw;}
}

    
@media (max-width: 320px){
    /*  section1 */
    .section1 .sec1 .box3 .box3_2 .btn_wrap{font-size: 10px;}

    /* section3 */
    .section3 .sec .con .siteview button span{font-size: 8px;margin-left: 3%;}
    /* section4 */
    .section4 .insta_content_container .css_content .insta_profile{width: 40px;height: 40px;}
    .section4 .insta_content_container .css_content .tit_num{font-size: 16px;line-height: 40px;}
    .section4 .insta_content_container .css_content .css_button .button_text{font-size: 13px;}
    .section4 .insta_content_container .css_content .css_tit{font-size: 20px;}
    .section4 .insta_content_container .css_content .css_dec{font-size: 12px;}
    

}

/* container border선 없애기 */
@media (max-width: 660px){
    .section1 .container{border: none;}
    .section7 .container{border: none;}
}