#section1 {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background: url(https://sungilryuu.github.io/webs_class/portfolio/work/assets/img/mainbg.jpg) no-repeat center top;
    background-size: 100%;
    overflow: hidden;
}

#section2 {
    height: 1000px;
    background: #000;
}

#section3 {}

#section4 {}

#section5 {}

#section6 {}


/* sec1 */
.sec1_imgWrap {
    height: 100vh;
}
.sec1_imgWrap>div {
    position: absolute;
}
.sec1_img1 {
    border: 0.4vw solid #000;
    left: 38.1vw;
    top: 10.7vw;
    width: 33.7vw;
    height: 30.7vw;
    background: url(https://images.unsplash.com/photo-1557458249-1be70955065c?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=600&ixid=MnwxfDB8MXxyYW5kb218MHx8TG91dnJlfHx8fHx8MTY1Mzk4MDk3Mg&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=800);
    background-size: cover;
}
.sec1_img2 {
    left: 88.1vw;
    top: 12.8vw;
    width: 18vw;
    height: 22.7vw;
    border: 0.4vw solid #000;
    background: url(https://sungilryuu.github.io/webs_class/portfolio/work/assets/img/complete/face1.jpg) no-repeat center center;
    background-size: cover;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    filter: saturate(10%);
}
.sec1_text1 {
    position: absolute;
    top: 40vw;
    right: 5vw;
}
.sec1_text1 h2 {
    font-family: 'Kumbh Sans';
    font-size: 3vw;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 100;
}
.sec1_text1 p {
    font-family: 'Wooridaum';
}
#clock-body {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 0.2vw solid #000;
}

#center,
#seconds,
#minutes,
#hours {
    position: absolute;
    background-color: #000;
    backface-visibility: hidden;
    outline: 1px solid transparent;
}

#center {
    z-index: 4;
    height: 3%;
    width: 3%;
    top: 50%;
    margin-top: -1.5%;
    left: 50%;
    margin-left: -1.5%;
    border-radius: 100%;
    background: #fd746c;
    background: linear-gradient(to left, #fd746c, #ff9068);
    border: 3px solid #000;
}

#seconds {
    z-index: 1;
    left: 50%;
    margin-left: -0.3%;
    bottom: 50%;
    width: 0.6%;
    height: 49%;
    border-top-right-radius: 40%;
    border-top-left-radius: 40%;
    transform-origin: bottom;
}

#minutes {
    z-index: 2;
    left: 50%;
    margin-left: -0.7%;
    bottom: 50%;
    width: 1.4%;
    height: 47%;
    border-top-right-radius: 40%;
    border-top-left-radius: 40%;
    transform-origin: bottom;
}

#hours {
    z-index: 3;
    left: 50%;
    margin-left: -0.7%;
    bottom: 50%;
    width: 1.4%;
    height: 36%;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    transform-origin: bottom;
}

.post-wrap {
    width: 10vw;
    height: 10vw;
    margin: 0 auto;
    position: absolute;
    top: 11vw;
    left: 21vw;
    overflow: hidden;
    /* background: rgba(0,20,0,0.08); */
    border-radius: 50%;
    box-shadow: 3px 6px 10px rgba(0,0,0,0.3);
}