@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700;900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  outline: none;
  color: inherit;
}

ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background: #666;
  height: auto;
}

::-webkit-scrollbar-track {
  background: #333;
}

body {
  color: #fff;
  font-family: roxborough;
  overflow-x: hidden;
  overflow: hidden;
}

section {
  background: #121313;
}

section:not(.project) {
  position: relative;
  z-index: 50;
}

@font-face {
  font-family: "S-CoreDream-2ExtraLight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "S-CoreDream-6Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "roxborough";
  src: url("../fonts/roxborough-thin.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Miracle";
  src: url("../fonts/Miracle Personal use.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MADE SAONARA PERSONAL USE";
  src: url("../fonts/Miracle Personal use.otf");
  font-weight: normal;
  font-style: normal;
}
.sticky {
  position: sticky;
  top: 0;
}

.flex {
  display: flex;
}

.container {
  width: 100%;
}

.txt-box {
  width: 25%;
  font-family: S-CoreDream-3Light;
  font-weight: lighter;
  text-align: justify;
}
.txt-box .line {
  display: inline-block;
  width: 60px;
  height: 1px;
  background: #ded1b7;
  vertical-align: middle;
  margin-right: 0.5rem;
}
.txt-box .description {
  line-height: 1.78;
}
.txt-box .writer {
  margin-top: 1rem;
  font-size: 1.125rem;
  text-align: right;
}

.nettlify-link,
.github__link {
  display: inline-block;
  border: 1px solid #fff;
  margin-top: 3.25rem;
}
.nettlify-link button,
.github__link button {
  display: flex;
  align-items: center;
  padding: 0.875rem 1.25rem;
  cursor: pointer;
  font-size: 1rem;
}
.nettlify-link button svg,
.github__link button svg {
  fill: #fff;
  margin-right: 0.5rem;
}
.nettlify-link button img,
.github__link button img {
  width: 24px;
  height: 24px;
  margin-right: 0.5rem;
}

.nettlify-link {
  background: #3372ac;
  border: none;
  font-weight: bold;
}

.wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #202020;
  z-index: 5000;
}
.wrapper .loader-outer {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  height: 30px;
  border-radius: 20px;
  border-bottom: 1px solid #303030;
  background: #151515;
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;
  z-index: 1;
}
.wrapper .loader-outer .loader-inner {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: -100px;
  display: flex;
  align-items: center;
  width: auto;
  height: 100%;
  text-align: center;
  font-size: 60px;
  z-index: 2;
  animation: load 2s infinite linear;
}
.wrapper .loader-outer .loader-inner .radius-square {
  width: 15px;
  border-radius: 5px;
  height: 50%;
  background: crimson;
  box-shadow: 0 0 20px crimson;
}
.wrapper .loader-outer .loader-inner .radius-square + div {
  margin-left: 5px;
}
.wrapper h1 {
  position: absolute;
  margin: auto;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 85px;
  height: 40px;
  text-transform: uppercase;
  text-align: left;
  text-shadow: 0 0 20px crimson;
  letter-spacing: 0.1em;
  font-size: 1vw;
  font-weight: lighter;
  font-family: "S-CoreDream-3Light";
  color: crimson;
}
.wrapper h1 span {
  display: none;
}
.wrapper h1::after {
  animation: txt 1s infinite;
  content: "";
}

@keyframes load {
  0% {
    left: -100px;
  }
  100% {
    left: 220px;
  }
}
@keyframes txt {
  0% {
    content: "LOADING";
  }
  35% {
    content: "LOADING.";
  }
  65% {
    content: "LOADING..";
  }
  100% {
    content: "LOADING...";
  }
}
.primary-btn {
  width: 120px;
  height: 50px;
  border-radius: 5px;
  background: #4285f4;
}

.menu {
  position: fixed;
  top: 20px;
  right: 40px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  height: 48px;
  border: 1px solid #383939;
  border-radius: 50px;
  transition: border 1s;
  cursor: pointer;
  transform: translateY(-100px);
  opacity: 0;
}
.menu:hover {
  border-color: #fcd34d;
}
.menu .relative {
  position: relative;
}
.menu .relative span {
  font-family: "S-CoreDream-3Light";
  margin-right: 2rem;
  font-size: 0.875rem;
  letter-spacing: 1.4px;
}
.menu .relative .hambuger-menu {
  position: absolute;
  top: 3px;
  right: 0;
}
.menu .relative .hambuger-menu div {
  width: 16px;
  height: 2px;
  border-radius: 70px;
  background: #e5e7eb;
}
.menu .relative .hambuger-menu div + div {
  margin-top: 4px;
}
.menu .context-menu {
  position: absolute;
  right: 10px;
  top: 68px;
  height: 0;
  overflow: hidden;
  font-family: S-CoreDream-3Light;
  transition: 0.5s;
  color: #fff;
  z-index: 200;
}
.menu .context-menu a {
  background: #212121;
  display: block;
  white-space: nowrap;
  height: 50px;
  font-size: 1.25rem;
  padding: 0.5rem 2.25rem 1rem 1rem;
}

.introduce {
  position: fixed;
  bottom: 30px;
  left: 40px;
  z-index: 1000;
  display: flex;
  align-items: center;
  border: 1px solid #969696;
  border-radius: 40px;
  transform: translateY(100px);
  opacity: 0;
}
.introduce img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  margin: -1px 0 -1px -1px;
  border: 1px solid #969696;
  object-fit: cover;
}
.introduce .typing {
  position: relative;
  margin: 0 1rem;
  font-family: "S-CoreDream-3Light";
}
.introduce .typing::after {
  content: "";
  position: absolute;
  top: -3px;
  width: 1px;
  height: 100%;
  background: #fff;
  animation: 1s tick infinite;
}
@keyframes tick {
  50% {
    opacity: 0;
  }
}

.icon-list {
  position: fixed;
  right: 40px;
  bottom: 30px;
  z-index: 1000;
  display: flex;
  transform: translateY(100px);
  opacity: 0;
}
.icon-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  font-family: "S-CoreDream-3Light";
  cursor: pointer;
}
.icon-list li.sound-item .mute {
  display: none;
}
.icon-list li + li {
  margin-left: 1.75rem;
  transition: 0.5s;
}
.icon-list li + li:hover {
  border: 1px solid #fcd34d;
}
.icon-list .progress {
  position: relative;
}
.icon-list .progress__circle {
  position: absolute;
  top: 0;
  left: 0;
  fill: transparent;
  stroke-width: 3px;
  stroke: red;
  transform: rotate(-90deg);
}
.icon-list li.github-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.icon-list li.github-item a img {
  width: 25px;
  height: 25px;
  filter: invert(1);
}

.main {
  height: calc(100vh + 100vw - 480px);
}
.main .sticky {
  height: 100vh;
}
.main .sticky .visual {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  min-width: 480px;
  width: 100%;
  height: 100vh;
  transform: translateX(-50%);
  background: url("../images/visual.jpeg") no-repeat center/cover;
  font-size: 8rem;
  text-align: center;
  border-style: solid;
  border-color: #121313;
  border-top-width: 90px;
  border-bottom-width: 130px;
}
.main .sticky .visual h1 {
  position: relative;
  z-index: 2;
  line-height: 93.8%;
  font-weight: lighter;
  font-size: 8rem;
}
.main .sticky .visual h1 > span:first-child span {
  transform: translate(0, -100px);
}
.main .sticky .visual h1 > span:last-child span {
  transform: translate(0, 100px);
}
.main .sticky .visual h1 > span span {
  display: inline-block;
  opacity: 0;
}
.main .sticky .visual::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(12, 13, 13, 0.4);
}

.about {
  padding-bottom: 7rem;
}
.about .star {
  position: relative;
  height: 100vh;
}
.about .star img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about .star::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#121313, transparent);
}
.about .star::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(transparent, #121313);
}
.about .container {
  margin: -4rem auto 0;
  padding: 0 2.5rem;
}
.about .container .title {
  line-height: 0.85;
  letter-spacing: -6.5px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 8rem;
}
.about .container .flex {
  justify-content: center;
  margin-top: 1.25rem;
}
.about .container .flex .history-txt {
  color: #ded1b7;
  font-size: 2.25rem;
  text-align: right;
  margin-right: 3rem;
}
.about .container .my-profile {
  margin-bottom: 2.5rem;
  margin-top: 3rem;
  padding-right: 10rem;
  text-align: right;
}
.about .container .my-profile .img-box {
  width: 200px;
  height: 200px;
  margin-left: auto;
  background: url(../images/profile.jpeg);
  background-repeat: no-repeat;
  background-position: center top;
  border-radius: 50%;
  background-size: cover;
}
.about .container .my-info {
  width: 50%;
  text-align: right;
}
.about .container .my-info .name-en {
  font-weight: lighter;
  font-size: 8rem;
  color: #ded1b7;
  line-height: 0.85;
  margin-top: 1.375rem;
  margin-bottom: 1rem;
}
.about .container .my-info .history-txt {
  font-size: 2.125rem;
}

.cover .bg {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.cover .bg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(12, 13, 13, 0.4);
}
.cover .bg .title {
  position: absolute;
  top: 50%;
  left: 100%;
  font-size: 8vw;
  word-spacing: 2rem;
  white-space: nowrap;
  font-weight: normal;
  transform: translateY(-50%);
}
.cover .project-bg {
  background: url("../images/project.jpeg") no-repeat center/cover;
}
.cover .contact-bg {
  background: url("../images/contactCover.jpeg") no-repeat center/cover;
}
.cover .vertical-project-bg {
  background: url("../images/verticalProjectCover.jpeg") no-repeat center/cover;
}
.cover .vertical-project-bg::before {
  background: rgba(12, 13, 13, 0.6);
}

.project {
  height: calc(200vw + 100vh);
}
.project .project-list {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 300vw;
  height: 100vh;
  font-family: S-CoreDream-3Light;
}
.project .project-list > li {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 0 6rem;
}
.project .project-list > li > div {
  width: calc(50% - 1.5rem);
}
.project .project-list > li .img-container img {
  width: 80%;
  object-fit: cover;
}
.project .project-list > li .content {
  margin-left: 1.5rem;
}
.project .project-list > li .content .title {
  font-family: S-CoreDream-6Bold;
  font-size: 4rem;
  font-weight: bold;
}
.project .project-list > li .content .description {
  text-align: justify;
  line-height: 1.8;
  margin-top: 0.625rem;
}
.project .project-list > li .content .description > a {
  text-decoration: underline;
}
.project .project-list > li .content .tags {
  display: flex;
  flex-wrap: wrap;
}
.project .project-list > li .content .tags > a {
  display: flex;
  align-items: center;
  padding: 0.3125rem 0.625rem;
  margin-top: 1.25rem;
  white-space: nowrap;
}
.project .project-list > li .content .tags > a:not(:last-child) {
  margin-right: 1rem;
}
.project .project-list > li .content .tags > a img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.project .project-list > li .content .tags .react {
  background: #20232a;
}
.project .project-list > li .content .tags .axios {
  background: #5a29e4;
}
.project .project-list > li .content .tags .styled-components {
  background: linear-gradient(to right, #db768c, #da9d5e);
}
.project .project-list > li .content .tags .react-router-dom {
  background: #252525;
}
.project .project-list > li .content > a:not(:last-child) {
  margin-right: 0.625rem;
}

.vertical-project {
  padding: 150px 0 450px;
  text-align: center;
}
.vertical-project .title {
  font-family: roboto;
  color: #777;
  font-size: 2rem;
}
.vertical-project .title.pub {
  margin-top: 16rem;
}
.vertical-project .divider {
  background: #fff;
  width: 1px;
  height: 180px;
  margin: 70px auto 150px;
}
.vertical-project .txt-box {
  margin: 4rem auto;
}
.vertical-project .item .btns {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.vertical-project .item .btns .github__link {
  margin: 0;
}
.vertical-project .item .btns a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.875rem 1.25rem;
  border: 1px solid #fff;
  margin-left: 1rem;
  transition: background, color, 0.3s;
  font-family: S-CoreDream-3Light;
}
.vertical-project .item .btns a svg {
  transition: fill 0.3s;
  margin-right: 0.5rem;
  fill: #fff;
}
.vertical-project .item .btns a:hover svg {
  fill: #000;
}
.vertical-project .item .btns a:hover {
  background: #fff;
  color: #000;
}
.vertical-project .item .img-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.vertical-project .item .img-container h2 {
  font-weight: lighter;
  font-size: 6rem;
}
.vertical-project .item .img-container img {
  width: 70%;
}
.vertical-project .item .img-container p {
  position: absolute;
  top: -80px;
  left: 100%;
  z-index: -1;
  font-size: 8.125rem;
  white-space: nowrap;
}

.contact {
  padding: 80px 0 240px;
}
.contact .container {
  max-width: 1200px;
  margin: 0 auto;
}
.contact .container .title {
  color: #ded1b7;
}
.contact .container .title h1 {
  font-size: 2rem;
}
.contact .container .email {
  margin: 3rem 0;
  font-family: "S-coreDream3Light";
  font-size: 1.25rem;
}
.contact .container .email a {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
