/* inner */
.inner {
    padding: 0 30px;
}

/* header */
#header {
    padding: 20px;
    border-bottom: 1px solid #ccc;
}
#header .inner {
    display: flex;
    align-items: center;
}
.header__logo {
    width: 10%;
}
.header__search {
    width: 60%;
    background: #f1f1f1;
    border-radius: 30px;
    overflow: hidden;
}
.header__search input {
    width: 100%;
    border: 0;
    background-color: transparent;
    padding: 10px;
}
.header__right {
    margin-left: auto;
}
.header__right span {
    display: inline-block;
    background: #f1f1f1;
    border-radius: 30px;
    padding: 10px 30px;
}