@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700;900&display=swap');

@font-face {
  font-family: 'S-CoreDream-2ExtraLight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-6Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roxborough';
  src: url('../fonts/roxborough-thin.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Miracle';
  src: url('../fonts/Miracle\ Personal\ use.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MADE SAONARA PERSONAL USE';
  src: url('../fonts/Miracle\ Personal\ use.otf');
  font-weight: normal;
  font-style: normal;
}
