/* Slider */
.slick-slider
 {
 position: relative;
 display: block; box-sizing: border-box;
 -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
 -webkit-touch-callout: none; -khtml-user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; } 

.slick-list
 {
 position: relative; top: 1vw; left: 1vw; width: 100%; height: 48vw; display: block; overflow: hidden; margin: 0; padding: 0; } 
.slick-list:focus
 {
 outline: none; } 
.slick-list.dragging
 {
 cursor: pointer; cursor: hand; } 

.slick-slider .slick-track,
.slick-slider .slick-list
 {
 -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); } 

.slick-track
 {
 position: relative; top: 0; left: 0; height: 100%; display: block; margin-left: auto; margin-right: auto; } 
.slick-track:before,
.slick-track:after
 {
 display: table;
 content: ''; } 
.slick-track:after
 {
 clear: both; } 
.slick-loading .slick-track
 {
 visibility: hidden; } 

.slick-slide
 {
 display: none; float: left;
 height: 100%; min-height: 1px; } 
[dir='rtl'] .slick-slide
 {
 float: right; } 
 
.slick-slide img
 {
 display: block; } 
.slick-slide.slick-loading img
 {
 display: none; } 
.slick-slide.dragging img
 {
 pointer-events: none; } 
.slick-initialized .slick-slide
 {
 display: block; } 
.slick-loading .slick-slide
 {
 visibility: hidden; } 
.slick-vertical .slick-slide
 {
 display: block;
 height: auto;
 border: 1px solid transparent; } 
.slick-arrow.slick-hidden { display: none; } 

.slider { position: relative; width: 100%; height: 100%;} 
/* .slider button {position: absolute;  display: none; z-index: 10; top: 50%; transform: translateY(-50%); width: 50px; height: 50px; border-radius: 100%; background: rgba(235, 235, 235, 0.2); border: none; } 
.slider button::before {  display: none;  font-family: "Font Awesome 5 Free"; color: #fff; font-size: 25px; } 
.slider button.slick-prev { left: 0; font-size: 0; color: transparent; } 
.slider button.slick-prev::before { font-weight: 600; content: "\f104"; } 
.slider button.slick-next { right: 0; font-size: 0; color: transparent; } 
.slider button.slick-next::before { font-weight: 600; content: "\f105"; }  */
.slider .slick-dots { position: absolute; z-index: 10; bottom: 5px;
    margin: 0; padding: 1rem 0; left: 50%; transform: translateX(-50%); list-style-type: none;}
.slider li {display: inline-block; margin: 1vw;} 
.slider .slick-dots button {
    width: 12px; height: 12px; border-radius: 100%; background-color: #fff; display: inline-block;
text-indent: -9999px; } 
.slider li.slick-active button {background-color: rgb(255, 215, 83); }

.leftWrap .wideBox2 .slick-list {left: 0; width: 102%;}

@media (max-width: 768px){
    .slick-list {left: 0; height: 66vw;}
    
 }
 @media (max-width: 600px){
    .slick-list {height: 76vw;}
    
 }
 @media (max-width: 480px){
    .slick-list {height: 88vw;}
    
 }
