@keyframes txtActive {
    from{
        opacity: 0;
        transform: translateY(25px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes slide-up{
    0% {
      opacity: 0;
      transform: translate3d(0,100%,0);
    }
    80%{
      opacity: 1;
    }
    100% {
      transform: translate3d(0,0,0);
    }
  }
  
  @keyframes slide-up{
    0% {
      opacity: 0;
      transform: translate3d(0,100%,0);
    }
    80%{
      opacity: 1;
    }
    100% {
      transform: translate3d(0,0,0);
    }
  }

  @keyframes sk4Bg-star{
      100% {
        transform: rotate(180deg);
    }
  }
  @keyframes sk5Bg1_flower{
    100% {
      transform: rotate(-180deg);
  }
}


@keyframes dance1 {
    0% {
        transform: rotate(0) translateY(0)
    }

    25% {
        transform: rotate(0) translateY(-25%)
    }

    50% {
        transform: rotate(-30deg) translateY(-25%)
    }

    to {
        transform: rotate(30deg) translateY(-25%)
    }
}


@keyframes dance2 {
    0% {
        transform: rotate(0) translateY(0)
    }

    25% {
        transform: rotate(0) translateY(25%)
    }

    50% {
        transform: rotate(-30deg) translateY(25%)
    }

    to {
        transform: rotate(30deg) translateY(25%)
    }
}

@keyframes figureRotate {
    100%{
        transform: rotate(360deg);
    }
}

@keyframes move {
    0% {
        transform: translate(0)
    }

    33% {
        transform: translate(-10px,-10px)
    }

    66% {
        transform: translate(10px,10px)
    }

    to {
        transform: translate(0)
    }
}

@keyframes clickMe{
    0%{
        transform: rotate(30deg)
    }
    50%{
        transform: rotate(40deg)
    }
    100%{
        transform: rotate(30deg)
    }
}



@keyframes confettiRain {
    0% {
      margin-top: -100vh;
      margin-left: -200px;
      opacity: 1;
    } 
    35%{
        opacity: 1;
    }
    38%{
        opacity: 0.6;
    }
    40%{
        opacity: 0;
    }
    
    100% {
      margin-top: 100vh;
      margin-left: 200px;
    }
  }