.image__inner.type2 ul {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.image__inner.type2 li {
    width: 19%;
    background-size: 100%;
    position: relative;
    perspective: 800px;
}
.image__inner.type2 li::after {
    content: '';
    display: block;
    background: #fff;
    position: absolute;
    left: 30px;
    right: 30px;
    top: 30px;
    bottom: 30px;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    transform: rotateX(-90deg);
}
.image__inner.type2 li:hover::after {
    opacity: 0.8;
    transform: rotateX(0deg);
}
.image__inner.type2 li span {
    position: absolute;
    left: 50%; 
    top: calc(50% + 36px);
    color: #000;
    z-index: 100;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: all 0.3s ease-in-out;
}
.image__inner.type2 li span em {
    display: block;
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    transition: all 0.3s;
}
.image__inner.type2 li span a {
    display: block;
    background: #000;
    border-radius: 40px;
    font-weight: 300;
    margin-top: 5px;
    padding: 7px 10px 5px 10px;
    color: #fff;
    opacity: 0;
    transition: all 0.3s;
}
.image__inner.type2 li:hover span {
    top: 50%;
}
.image__inner.type2 li:hover span em {
    color: #000;
}
.image__inner.type2 li:hover span a {
    opacity: 1;
}



.image__inner.type3 ul {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.image__inner.type3 li {
    width: 32%;
    background-size: 100%;
    position: relative;
    perspective: 800px;
}
.image__inner.type3 em {
    display: block;
    padding: 20px 20px 10px 20px;
    font-size: 20px;
}
.image__inner.type3 a {
    font-weight: 300;
}