@font-face {
    src: url("https://assets.codepen.io/2479807/gilroy-regular.ttf");
    font-family: "Gilroy";
}

@font-face {
    src: url("https://assets.codepen.io/2479807/gilroy-semibold.woff2");
    font-family: "Gilroy Semi-Bold";
}

html {

    user-select: none;
    min-height: 100vh;
}
body {
    
}


.scroll {
    position: fixed;
    left: 10px;
    top: 10px;
    width: 50px; 
    height: 50px;
    background: rgba(255,255,255,0.4);
    color: #000;
    text-align: center;
    line-height: 50px;
    z-index: 10000;
}

/* header */
#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 84px;
    height: 100vh;
    background: rgba(255,255,255,0.4);
    z-index: 10000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    backdrop-filter: blur(10px);
}
#header .logo {
    color: #fff;
    font-family: 'Abel';
    text-transform: uppercase;
    font-size: 40px;
    transform: rotate(-90deg);
    margin-top: 106px;
}

/* contents */
#contents {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    width: 600vw;
    height: 100vh;
}
#contents > section {
    width: 100vw;
    height: 100vh;
}
#section2 {background: #222;}
#section3 {background: #333;}
#section4 {background: #444;}
#section5 {background: #555;}
#section6 {background: #666;}

/* sec1 */
#section1 {
    background: url(https://images.unsplash.com/photo-1595762326588-ce0849d6bab8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2148&q=80);
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;
}
#section1::after {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.sec1 {
    display: flex;
    align-items: center;
    height: 100vh;
}
.sec1 h1 em {
    color: #fff;
    font-family: "Gilroy";
    display: block;
    font-size: 5vw;
}
.sec1 h1 {
    color: #fff;
    font-family: "Gilroy Semi-Bold";
    font-size: 8vw;
    line-height: 1;
    text-transform: uppercase;
    padding-left: 8vw;
}